<div class="close-dialog">
  <a (click)="volver()">
    <i class="material-icons">close</i>
  </a>
</div>
<div class="dialog-body">
  <h4>¿Qué es el beneficio de <strong>Condonación</strong>?</h4>
  <p>La Condonación es un beneficio que consiste en la rebaja de multas e intereses de las cuotas vencidas. La <strong>Condonación por Pago Total</strong> es el mayor beneficio de Condonación que puedes conseguir, y para obtenerlo te recomendamos pagar <strong>todas las cuotas vencidas de un ROL.</strong></p>
</div>
<div class="dialog-footer">
  <button class="mdl-button button-default-link" (click)="volver()">Entendido</button>
</div>