<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo center">TGR</a>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
          <li routerLinkActive="active"><a routerLink="/contribuciones">Contribuciones</a></li>
          <li routerLinkActive="active"><a routerLink="/certificados">Certificados</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="#">
            <span>
              <i class="material-icons">account_circle</i>
            </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <ul id="slide-out" class="sidenav" #sidenav>
    <li><div class="row valign-wrapper">
      <div class="col s4 sidenav-icon">
        <i class="material-icons large">account_circle</i>
      </div>
      <div class="col s8">
        <h5>Jose Peñaloza F.</h5>
        <h6>jpenalozaf@gmail.com</h6>
      </div>
    </div></li>
    <li><div class="divider"></div></li>
    <li routerLinkActive="active" class="sidenav-link" (click)="closeSidenavbar()"><a routerLink="/contribuciones">Contribuciones</a></li>
    <li routerLinkActive="active" class="sidenav-link" (click)="closeSidenavbar()"><a routerLink="/certificados">Certificados</a></li>
    <li><div class="divider"></div></li>
  </ul>
</header>
