@import '../../../../styles/colors';

.spam{
  font-size: 14px;
  font-style: italic;
  letter-spacing: -.3px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 14px;
}

.inner-form{
  margin-right: auto;
  margin-left: auto;
  width: 86%;
  [type='email'] {
    text-transform: lowercase;
  }
}
.inner-code{
  margin-right: auto;
  margin-left: auto;
  width: 86%;
}
.mdl-textfield {
  width: 100%;
}

// Nuevos estilos
.close-dialog {
  text-align: right;
  cursor: pointer;
  a {
    position: absolute;
    top: 6px;
    right: 6px;
    color: rgba(84, 84, 85, .4);
  }
}

.dialog-body {
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  h4 {
    margin-top: 14px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: $color-dark-blue-text;
    @media (min-width: 481px) {
      font-size: 18px;
    }
  }

  p {
    text-align: center;
    font-size: 14px;
    color: $color-dark-gray;
    @media (min-width: 481px) {
      font-size: 16px;
    }
  }

  .column {
    .img-row {
      display: inline-block;

      .img-frame {
        margin: 10px;
        border: 5px solid #fff;
        cursor: pointer;
        @media (max-width: 480px) {
          width: 60px;
          height: auto;
        }
        @media (min-width: 481px) {
          width: 100px;
          height: auto;
        }
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;

        &:hover,
        &:focus,
        &:active {
          -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
        }
      }
    }
  }
}
.tgr-dialog__options {
  display: flex;
  flex-direction: column;
  .mdl-button.button-primary-action {
    width: 50%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    &[disabled] {
      &:hover {
        background-color: rgba(0,0,0, 0.12);
      }
    }
  }
  button:last-of-type {
      @media (max-width: 365px) {
          margin-bottom: 14px;
      } 
  }
}
