<!--mdl-dialog #dialog class="mdl-dialog tgr-dialog"-->
<form class="dialog-body" [formGroup]="formEmail" *ngIf="estado === estados.init; else verification">
  <h4>Bienvenido/a al <strong>Pago de Contribuciones</strong></h4>
    <p>Para facilitar tu proceso, puedes comenzar a guardar las propiedades que agregues o recuperar un pago anterior
      ingresando
      tu correo electrónico.</p>
    <div class="inner-form">
      <mdl-textfield type="email" [formControl]="email" label="Ingresa tu Correo Electrónico" floating-label
                     autofocus></mdl-textfield>
    </div>

  <div class="tgr-dialog__options">
    <button class="mdl-button mdl-js-button mdl-button--primary button-primary-action" mdl-button (click)="asociarCorreo()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple
            [disabled]="!formEmail.valid">Continuar
    </button>
    <button class="mdl-button mdl-js-button mdl-button--primary button-default-link" mdl-button (click)="close()" mdl-ripple>Continuar sin correo</button>
  </div>
</form>
<ng-template #verification>
  <form class="dialog-body" [formGroup]="formCode">
      <p class="mt-25 mb-0">
        Para continuar, ingresa el código de 6 dígitos que enviamos a la siguiente dirección:
        <span>{{correo}}</span>
      </p>
      <div class="inner-code">
        <mdl-textfield type="text" [formControl]="code" label="Código de verificación" floating-label
                       autofocus></mdl-textfield>
      </div>
      <p class="spam">
        Si no ves el correo que enviamos, espera 5 minutos o revisa la carpeta de spam.
      </p>

    <div class="tgr-dialog__options">
      <button class="mdl-button mdl-js-button mdl-button--primary button-primary-action" mdl-button (click)="ingresarCodigo()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple
              [disabled]="!formCode.valid">Continuar
      </button>      
      <button class="mdl-button mdl-js-button mdl-button--primary button-default-link" mdl-button (click)="close()" mdl-ripple>Continuar sin correo</button>
      <button class="mdl-button mdl-js-button mdl-button--primary button-default-link" mdl-button (click)="otroCorreo()" mdl-ripple mdl-colored="accent">Ingresar otro correo</button>
    </div>
  </form>
</ng-template>
<!--/mdl-dialog-->
