<dialog #dialog class="mdl-dialog">
  <h4 class="mdl-dialog__title">Detalle de pago</h4>
  <div class="mdl-dialog__content">
    <div class="tgr-propiedad" *ngFor="let propiedad of propiedades">
      <h2>{{propiedad.direccion}}</h2>
      <div style="display:none">{{propiedad.calcularTotalCondonado() | number}}</div>
      <table class="mdl-data-table">
        <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">ROL</th>
          <th>Cuota</th>
          <th>Vence</th>
          <th>Monto</th>
        </tr>
        </thead>
        <tbody *ngFor="let rol of propiedad.roles">
        <tr *ngFor="let cuota of rol.cuotasSeleccionadas()">
          <td>{{rol.rolComunaSiiCod | leadingZero:3}}-{{rol.rolId | leadingZero:5}}-{{rol.subrolId | leadingZero:3}}
          </td>
          <td>{{cuota.numeroCuota}}-{{cuota.getYear()}}</td>
          <td>{{cuota.fechaVencimiento | date:'dd/MMM'}}</td>
          <td>$ {{cuota.getTotal() | number}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="tgr-propiedad" *ngFor="let propiedad of propiedades">
      <h2>{{propiedad.direccion}}</h2>
      <div style="display:none">{{propiedad.calcularTotalCondonado() | number}}</div>
      <table class="mdl-data-table">
        <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">ROL</th>
          <th>Cuota</th>
          <th>Vence</th>
          <th>Monto</th>
        </tr>
        </thead>
        <tbody *ngFor="let rol of propiedad.roles">
        <tr *ngFor="let cuota of rol.cuotasSeleccionadas()">
          <td>{{rol.rolComunaSiiCod | leadingZero:3}}-{{rol.rolId | leadingZero:5}}-{{rol.subrolId | leadingZero:3}}
          </td>
          <td>{{cuota.numeroCuota}}-{{cuota.getYear()}}</td>
          <td>{{cuota.fechaVencimiento | date:'dd/MMM'}}</td>
          <td>$ {{cuota.getTotal() | number}}</td>
        </tr>
        </tbody>
      </table>
    </div>  <div class="tgr-propiedad" *ngFor="let propiedad of propiedades">
      <h2>{{propiedad.direccion}}</h2>
      <div style="display:none">{{propiedad.calcularTotalCondonado() | number}}</div>
      <table class="mdl-data-table">
        <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">ROL</th>
          <th>Cuota</th>
          <th>Vence</th>
          <th>Monto</th>
        </tr>
        </thead>
        <tbody *ngFor="let rol of propiedad.roles">
        <tr *ngFor="let cuota of rol.cuotasSeleccionadas()">
          <td>{{rol.rolComunaSiiCod | leadingZero:3}}-{{rol.rolId | leadingZero:5}}-{{rol.subrolId | leadingZero:3}}
          </td>
          <td>{{cuota.numeroCuota}}-{{cuota.getYear()}}</td>
          <td>{{cuota.fechaVencimiento | date:'dd/MMM'}}</td>
          <td>$ {{cuota.getTotal() | number}}</td>
        </tr>
        </tbody>
      </table>
    </div>    
  </div>
  <div class="tgr-dialog__actions">
    <div class="tgr-total">
      <h3>Total: ${{total | number}}</h3>
    <h2>El monto total considera una condonación de $ {{condonacion | number}}</h2>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" [routerLink]="['pagar']">Continuar</button>
      <button type="button" class="mdl-button mdl-js-button mdl-button--raised" (click)="closeDialog()">Volver</button>
    </div>      
  </div>
</dialog>
