<dialog #dialog class="mdl-dialog " style="width: 90%">
  <h4 class="mdl-dialog__title">Detalle de pago</h4>
  <div class="mdl-dialog__content">
    <div *ngFor="let propiedad of propiedades">
      <h3>{{propiedad.direccion}}</h3>
      {{propiedad.calcularTotalCondonado() | number}}
      <table>
        <thead>
        <tr>
          <th>ROL</th>
          <th>Cuota</th>
          <th>Vence</th>
          <th>Monto</th>
        </tr>
        </thead>
        <tbody *ngFor="let rol of propiedad.roles">
        <tr *ngFor="let cuota of rol.cuotasSeleccionadas()">
          <td>{{rol.rolComunaSiiCod | leadingZero:3}}-{{rol.rolId | leadingZero:5}}-{{rol.subrolId | leadingZero:3}}
          </td>
          <td>{{cuota.numeroCuota}}-{{cuota.getYear()}}</td>
          <td>{{cuota.fechaVencimiento | date:'dd/MMM'}}</td>
          <td>$ {{cuota.getTotal() | number}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <h3>Total: {{total | number}}</h3>
    <h5>El monto total considera una condonación de $ {{condonacion | number}}</h5>
  </div>
  <div class="mdl-dialog__actions ">
    <button type="button" class="mdl-button" [routerLink]="['pagar']">Continuar</button>
    <button type="button" class="mdl-button" (click)="closeDialog()">Volver</button>
  </div>
</dialog>
