@import '../../../../../../styles/colors';

.hidden {
  display: none;
}
.bar {
  border-left: 5px solid #931c82;
  .bar-text {
    padding-top: 0;
    padding-bottom: 0;
    h6 {
      margin-left: 38px;
      .direccion {
        margin-bottom: 0;
        color: $color-dark-blue-text;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        @media (max-width: 839px) {
          font-size: 14px;
        }
      }
      .comuna {
        margin-bottom: 0;
        color: $color-dark-blue-text;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        @media (max-width: 839px) {
          font-size: 14px;
        }
      }
    }
  }
  .wrapper {
    span {
      font-size: 16px;
      @media (max-width: 839px) {
        font-size: 14px;
      }
    }
  }
}

.mdl-button.mdl-button--icon:hover {
  background: #CFCFCF;
}
.bar-text .mdl-button.mdl-button--icon:hover .material-icons {
  color: #252e60;
}
.bar-text ~ .wrapper .mdl-button.mdl-button--icon:hover .material-icons {
  color: rgba(0, 0, 0, 0.3);
}

.tgr-tr--late {
  color: $color-expired;
}
