<div mdl-shadow="2" class="background-lightgray bar" >
  <div class="bar-text" (click)="toggle()">
    <button mdl-button mdl-button-type="icon" >
      <mdl-icon>{{expanded ? 'expand_less' : 'expand_more'}}</mdl-icon>
    </button>
    <h6 class="pointer">
      <strong>{{propiedad.splitName()}} </strong><span class="comuna">{{comuna}}</span>
     </h6>  
  </div>
  <div class="mdl-layout-spacer"></div>
  <div class="wrapper">
    <span *ngIf="propiedad.total >= 0" (click)="toggle()">$ {{propiedad.total | number}}</span>
    <button mdl-button mdl-js-button pointer delete-this-rol mdl-button-type="icon" (click)="delete()">      
      <i class="material-icons">close</i>
    </button>
  </div>
</div>

<div [class.hidden]="!expanded" *ngFor="let rol of propiedad?.roles">
  <app-rol-cuotas (change)="onChange()" [rol]="rol"></app-rol-cuotas>
</div>
