<mz-navbar>
  <a href="#" class="brand-logo">Logo</a>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a href="#">Sass</a></mz-navbar-item>
    <mz-navbar-item><a href="#">Components</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="js">JavaScript</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>

<div class="row">

  <div class="col s12 m6 l6">
    <mz-card>
      <mz-card-title>
        Card Title
      </mz-card-title>

      <mz-card-content>
        I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
      </mz-card-content>

      <mz-card-action>
        <a href="javascript:void(0)">This is a link</a>
        <a href="javascript:void(0)">This is a link</a>
      </mz-card-action>
    </mz-card>
  </div>

  <div class="col s12 m6 l6">
    <mz-card>
      <mz-card-title>
        Card Title
      </mz-card-title>

      <mz-card-content>
        I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
      </mz-card-content>

      <mz-card-action>
        <a href="javascript:void(0)">This is a link</a>
        <a href="javascript:void(0)">This is a link</a>
      </mz-card-action>
    </mz-card>
  </div>

  <div class="col s12 m6 l6">
    <mz-card>
      <mz-card-title>
        Card Title
      </mz-card-title>

      <mz-card-content>
        I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
      </mz-card-content>

      <mz-card-action>
        <a href="javascript:void(0)">This is a link</a>
        <a href="javascript:void(0)">This is a link</a>
      </mz-card-action>
    </mz-card>
  </div>


</div>
