<div class="close-dialog">
  <a (click)="volver()">
    <i class="material-icons">close</i>
  </a>
</div>
<div class="dialog-body">
  <h4><strong>Beneficio COVID-19</strong><br>y Pago de Cuota Anual</h4>
  <p>Tienes propiedades que podrían acceder a las siguientes opciones:</p>
  <p>
    <strong>Beneficio por Contingencia COVID-19:</strong><br>
    Los Roles indicados con el beneficio podrán postergar el pago de la primera cuota que vence el próximo 30 de abril.
  </p>
  <p>
    <strong>Pago de Cuota Anual:</strong><br>
    Esta opción da la posibilidad al contribuyente de poder pagar las cuatro cuotas de contribuciones del año en curso en un solo pago y sin ningún tipo de reajuste, disponible sólo a través de Internet y hasta el 30 de abril.
  </p>
</div>
<div class="dialog-footer">
  <button class="mdl-button button-default-link" (click)="volver()">ENTENDIDO</button>
</div>