<div class="close-dialog">
  <a (click)="volver()">
    <i class="material-icons">close</i>
  </a>
</div>
<div class="dialog-body">
  <h4><strong>Pago de Cuota Anual Disponible</strong></h4>
  <p>Tienes propiedades que pueden optar al beneficio de<strong>Pago de Cuota Anual.</strong></p>
  <p>Este beneficio está activo sólo si el contribuyente no ha pagado la primera cuota del año y hasta el 30 de abril del 2020.</p>
</div>
<div class="dialog-footer">
  <button class="mdl-button button-default-link" (click)="volver()">ENTENDIDO</button>
</div>