<div class="close-dialog">
  <a (click)="volver()">
    <i class="material-icons">close</i>
  </a>
</div>
<div class="dialog-body">
  <h4><strong>Beneficio Pago de Cuota Anual Disponible</strong></h4>
  <p>Tienes propiedades que pueden optar al <strong>Beneficio de Pago de Cuota Anual.</strong></p>
  <p>Este Beneficio es la posibilidad que se da al contribuyente de pagar las cuatro cuotas de contribuciones del año en curso en un solo pago, disponible sólo a través de Internet y hasta el 30 de abril.</p>
</div>
<div class="dialog-footer">
  <button class="mdl-button button-default-link" (click)="volver()">ENTENDIDO</button>
</div>