<div class="close-dialog">
  <a (click)="volver()">
    <i class="material-icons">close</i>
  </a>
</div>
<div class="dialog-body">
  <h4>Resumen de mis <strong>Cuotas</strong></h4>
  <div class="scroll">
    <div class="mdl-grid" *ngFor="let propiedad of propiedades">
      <div class="propiedad-container" *ngIf="propiedad.resumen().seleccionadas > 0">
        <p class="sub-title"><strong>{{propiedad.splitName()  | titlecase}}</strong> - {{propiedad.roles[0].comuna | titlecase}}</p>
        <table class="mdl-data-table" *ngIf="propiedad.roles.length > 0; else sinDeuda">
          <thead>
          <tr>
            <th>ROL</th>
            <th>Cuota</th>
            <th>Vence</th>
            <th>Monto $</th>
          </tr>
          </thead>
          <tbody *ngFor="let rol of propiedad.roles">
          <tr *ngFor="let cuota of rol.cuotasSeleccionadas()">
            <td>{{rol.rolId | leadingZero:5}}-{{rol.subrolId | leadingZero:3}}
            </td>
            <td [class.tgr-tr--late]="cuota.expired">{{cuota.numeroCuota}}</td>
            <td [class.tgr-tr--late]="cuota.expired">{{cuota.fechaVencimiento | date:'dd/MMM'}}</td>
            <td class="monto"
                [class.tgr-tr--late]="cuota.expired">{{(rol.condonacion > 0 ? cuota.liqTotal.saldoTotal : cuota.liqParcial.saldoTotal) | number}}
            </td>
          </tr>
          </tbody>
        </table>
        <ng-template #sinDeuda>
          No registra deudas asociadas a este rol
        </ng-template>
      </div>
    </div>
  </div>
  <div class="resumen-montos">
    <p class="monto-total texto" *ngIf="existeVencidas">
      Monto total :
    </p>
    <p class="monto-total monto" *ngIf="existeVencidas">
      <strong>$ {{total + condonacion| number}}</strong>
    </p>
      
    <p class="monto-total texto monto-condonacion" *ngIf="condonacion > 0">
      Monto beneficio condonación :
    </p>
    <p class="monto-total monto monto-condonacion" *ngIf="condonacion > 0">
      <strong>$ {{condonacion | number}}</strong>
    </p>
    
    <div *ngIf="existeVencidas" class="gray-border"></div>
    <p class="monto-total texto">
      Monto total a pagar :
    </p>
    <p class="monto-total monto">
      <strong>$ {{total | number}}</strong>
    </p>
  </div>
</div>
<div class="tgr-dialog__options">
  <button class="mdl-button mdl-js-button mdl-button--primary button-default-link" (click)="volver();">
    Volver al Carro
  </button>
  <app-boton-pagar [total]=total [codigos]="codigos"></app-boton-pagar>
</div>

