@import '../../../../../../../styles/colors';

.close-dialog {
  text-align: right;
  cursor: pointer;

  a {
    position: absolute;
    top: 6px;
    right: 6px;
    color: rgba(84, 84, 85, .4);
  }
}

.dialog-body {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  h4 {
    margin-top: 14px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: $color-dark-blue-text;
  }
}

div.scroll {
  overflow: auto;
  width: 100%;
  background-color: $color-light-gray;
  @media (min-width: 319px) and (max-width: 340px) {
    max-height: 185px;
  }
  @media (min-width: 341px) and (max-width: 480px) {
    max-height: 235px;
  }
  @media (min-width: 481px) {
    max-height: 350px;
  }
  .mdl-grid {
    background-color: $color-light-gray;
    padding-top: 20px;
    padding-left: 12px;
    padding-left: 12px;
    @media (min-width: 319px) and (max-width: 340px) {
      padding-left: 5px;
      padding-left: 5px;
    }
    &:last-of-type {
      padding-bottom: 25px;
    }
    .propiedad-container {
      margin-left: auto;
      margin-right: auto;
      .sub-title {
        margin-top: 20px;
        margin-bottom: 6px;
        text-align: left;
        font-size: 16px;
        color: $color-dark-blue-text;
        &:first-of-type {
          margin-top: 0;
        }
      }
      .mdl-data-table {
        background-color: $color-lighter-gray2;
        thead {
          tr {
            th {
              font-size: 13px;
              color: $color-dark-gray;
              text-align: left;
              @media (min-width: 319px) and (max-width: 375px) {
                font-size: 12px;
              }
              &:first-of-type {
                padding-left: 20px;
                @media (max-width: 480px) {
                  padding-left: 8px;
                  padding-right: 0;
                }
              }
              &:nth-of-type(2) {
                @media (max-width: 480px) {
                  padding-left: 8px;
                  padding-right: 0;
                }
              }
            }
          }
        }
        tbody {
          tr {
            td {
              font-size: 13px;
              color: $color-dark-gray;
              text-align: left;
              @media (min-width: 319px) and (max-width: 375px) {
                font-size: 12px;
              }
              &:first-of-type {
                padding-left: 20px;
                @media (max-width: 480px) {
                  padding-left: 8px;
                  padding-right: 0;
                }
              }
              &:nth-of-type(2) {
                @media (max-width: 480px) {
                  padding-left: 8px;
                  padding-right: 0;
                }
              }
              &.monto {
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}

.resumen-montos {
  margin: 18px auto 15px auto;
  .gray-border {
    height: 2px;
    margin-top: 8px;
    margin-bottom: 12px;
    background-color: rgba(84, 84, 85, .45);
    &.hidden {
      display: none;
    }
  }
  .monto-total {
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
    color: $color-dark-blue-text;
    @media (min-width: 319px) and (max-width: 325px) {
      font-size: 13px;
    }
    @media (min-width: 326px) and (max-width: 380px) {
      font-size: 14px;
    }
    &.texto,
    &.monto {
      display: inline-block;
    }
    &.texto {
      width: 70%;
      text-align: left;
    }
    &.monto {
      width: 30%;
      text-align: right;
    }
    &.monto-condonacion {
      color: $color-success;
    }
    &.beneficio {
      margin-top: 24px;
      margin-bottom: 22px;
    }
  }
  .tgr-condonacion {
    margin-top: 18px;
    text-align: center;
    .ayuda-condonacion {
      box-shadow: none;
      background-color: $gray-lightblue-background;
      color: $color-dark-blue-text;
      font-family: 'Montserrat', sans-serif;
      line-height: 24px;
      font-size: 16px;
      text-transform: none;
      transition: .4s;
      @media (max-width: 480px) {
        font-size: 14px;
      }
      .material-icons {
        vertical-align: sub;
        &:hover,
        &:focus,
        &:active {
          color: $color-dark-blue-text;
        }
      }
      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
        color: $color-dark-blue-text;
        .material-icons {
          color: $color-dark-blue-text;
        }
      }
    }
  }
}

.tgr-dialog__options {
    @media (max-width: 380px) {
      margin-top: 0;
      display: flex;
      flex-direction: column;
    }
    @media (min-width: 381px) {
      display: flex;
      justify-content: space-evenly;
      margin-top: 34px;
    }
}

.tgr-condonacion {
  color: $tgr-condonacion;
}

.tgr-tr--late {
  color: $color-expired !important;
}
