<div class="tgr-container">


    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--12-col m-0auto pay-title">
            <h5 class="title text-center text-mont">Ver Mis <strong>Deudas Fiscales</strong></h5>
            <p class="text-left">Selecciona una o más deudas y agrégalas al carro.</p>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>


    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <td></td>
                    <td class="mdl-data-table__cell--non-numeric"> Nombre Servicio </td>
                    <td class="mdl-data-table__cell--non-numeric"> Id Servicio </td>
                    <td class="mdl-data-table__cell--non-numeric"> Nombre Formulario</td>
                    <td class="mdl-data-table__cell--non-numeric"> N° Formulario</td>
                    <td class="mdl-data-table__cell--non-numeric"> Folio </td>
                    <td class="mdl-data-table__cell--non-numeric"> Vencimiento </td>
                    <td class="mdl-data-table__cell--non-numeric"> Monto Total</td>
                    <td class="mdl-data-table__cell--non-numeric"> Monto Parcial</td>
                    <td class="mdl-data-table__cell--non-numeric"> Reajuste </td>
                    <td class="mdl-data-table__cell--non-numeric"> Interes </td>
                    <td class="mdl-data-table__cell--non-numeric"> Multa </td>
                    <td class="mdl-data-table__cell--non-numeric"> Condonación </td>
                    <td class="mdl-data-table__cell--non-numeric"> % Condonación </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deuda of listado">
                    <td></td>
                    <td> {{ deuda.servicioNom }}</td>
                    <td> {{ deuda.servicioId }}</td>
                    <td> {{ deuda.formNom }}</td>
                    <td> {{ deuda.formNum }}</td>
                    <td> {{ deuda.folio }}</td>
                    <td> {{ deuda.vencimiento | date:'shortDate' }}</td>
                    <td> {{ deuda.montoTotal | currency:'CLP'}}</td>
                    <td> {{ deuda.montoParcial | currency:'CLP' }}</td>
                    <td> {{ deuda.reajuste }}</td>
                    <td> {{ deuda.interes }}</td>
                    <td> {{ deuda.multa }}</td>
                    <td> {{ deuda.condonacion }}</td>
                    <td> {{ deuda.porCondonacion | percent:'2.2-2' }}</td>
                </tr>
            </tbody>
        </table>
        <div class="mdl-layout-spacer"></div>
    </div>

</div>