<div class="tgr-container">


    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--12-col m-0auto pay-title">
            <h5 class="title text-center text-mont">Ver Mis <strong>Deudas Fiscales</strong></h5>
            <p class="text-left">Selecciona una o más deudas y agrégalas al carro.</p>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>


    <br>    

    
    <div class="tgr-results">    
        <div class="mdl-layout-spacer"></div>    
        <app-deuda-fiscal-servicio class="tgr-content mdl-shadow--3dp" [servicio]="serv" *ngFor="let serv of listServicio">
        </app-deuda-fiscal-servicio>
        <div class="mdl-layout-spacer"></div>
    </div>
    


    <br>

    
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <td></td>
                    <td class="mdl-data-table__cell--non-numeric"> Nombre Servicio </td>
                    <td class="mdl-data-table__cell--non-numeric"> Lista Formularios </td>                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let servicio of listServicio">
                    <td></td>
                    <td> {{ servicio.servicioNom }}</td>                    
                    <td> 
                        <table *ngFor="let form of servicio.listFormulario">
                            <tr>
                                <td> {{ form.formNom }} </td>
                                <td> 
                                    <table *ngFor="let detalle of form.listDetalle">
                                        <tr>
                                                <td> {{ detalle.folio }} </td>
                                                <td> {{ detalle.vencimiento }} </td>
                                                <td> {{ detalle.montoTotal }} </td>
                                                <td> {{ detalle.montoParcial }} </td>
                                                <td> {{ detalle.reajuste }} </td>
                                                <td> {{ detalle.interes }} </td>
                                                <td> {{ detalle.multa }} </td>
                                                <td> {{ detalle.condonacion }} </td>
                                                <td> {{ detalle.porCondonacion }} </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>                            
                        </table>
                    </td>                    
                </tr>                
            </tbody>
        </table>
        <div class="mdl-layout-spacer"></div>
    </div>


    

    <!-- <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <td></td>
                    <td class="mdl-data-table__cell--non-numeric"> Nombre Servicio </td>
                    <td class="mdl-data-table__cell--non-numeric"> Id Servicio </td>
                    <td class="mdl-data-table__cell--non-numeric"> Nombre Formulario</td>
                    <td class="mdl-data-table__cell--non-numeric"> N° Formulario</td>
                    <td class="mdl-data-table__cell--non-numeric"> Folio </td>
                    <td class="mdl-data-table__cell--non-numeric"> Vencimiento </td>
                    <td class="mdl-data-table__cell--non-numeric"> Monto Total</td>
                    <td class="mdl-data-table__cell--non-numeric"> Monto Parcial</td>
                    <td class="mdl-data-table__cell--non-numeric"> Reajuste </td>
                    <td class="mdl-data-table__cell--non-numeric"> Interes </td>
                    <td class="mdl-data-table__cell--non-numeric"> Multa </td>
                    <td class="mdl-data-table__cell--non-numeric"> Condonación </td>
                    <td class="mdl-data-table__cell--non-numeric"> % Condonación </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deuda of listDeuda">
                    <td></td>
                    <td> {{ deuda.servicioNom }}</td>
                    <td> {{ deuda.servicioId }}</td>
                    <td> {{ deuda.formNom }}</td>
                    <td> {{ deuda.formNum }}</td>
                    <td> {{ deuda.folio }}</td>
                    <td> {{ deuda.vencimiento | date:'shortDate' }}</td>
                    <td> {{ deuda.montoTotal | currency:'CLP'}}</td>
                    <td> {{ deuda.montoParcial | currency:'CLP' }}</td>
                    <td> {{ deuda.reajuste }}</td>
                    <td> {{ deuda.interes }}</td>
                    <td> {{ deuda.multa }}</td>
                    <td> {{ deuda.condonacion }}</td>
                    <td> {{ deuda.porCondonacion | percent:'2.2-2' }}</td>
                </tr>
            </tbody>
        </table>
        <div class="mdl-layout-spacer"></div>
    </div> -->

</div>