<a id="property-add" class="property-add btn-floating btn-large right white-text"><i class="material-icons">add</i></a>
<div class="tap-target" data-target="property-add" #tapTarget>
  <div class="tap-target-content">
    <h5>Agregar Propiedades</h5>
    <p>Hemos encontrado nuevas propiedades disponibles para pago asociadas a tu rut</p>
  </div>
</div>
<div class="container container-with-footer">
  <div class="property" *ngFor="let p of properties">
    <div class="property-price right">$ {{p.selectedTotal() | number}}</div>
    <h5>{{p.address}}</h5>
    <div class="row">
      <div class="col s12 m12 l6 xl4" *ngFor="let c of p.contributions">
        <div class="card hoverable">
          <div class="card-content">
            <div class="contribution-price right">$ {{c.selectedTotal() | number}}</div>
            <div class="card-title contribution-title truncate">{{c.name}}</div>
            <div class="contribution-subtitle">{{c.identification}}</div>
          </div>
          <div class="card-tabs">
            <ul class="tabs" #tabs>
              <li class="tab" *ngFor="let y of getYears(c)">
                <a class="active" href="#{{c.identification}}year{{y}}">Año {{y}}</a>
              </li>
            </ul>
          </div>
          <div class="card-content grey lighten-5 padding-3">
            <div *ngFor="let y of getYears(c)" id="{{c.identification}}year{{y}}">
              <ul class="collection no-margin">
                <li class="collection-item clickable scale-transition" *ngFor="let q of c.activeQuotes(y)" (click)="selectQuote(q)">
                  <div class="row no-margin" [class.quote-expired]="q.expired(y)">
                    <div class="col s1 quote-number">{{q.number}}</div>
                    <div class="col s6 quote-amount">$ {{q.amount | number}}</div>
                    <div class="col s2 offset-s1 quote-expiration center-align">
                      {{q.expiration.day}}/{{q.expiration.month}}
                    </div>
                    <a class="secondary-content clickable"><i class="material-icons quote-icon">{{quoteIcon(q)}}</i></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-footer payment-footer">
  <div class="footer-copyright">
    <div class="container">
      <span>
        <div class="chip quote-type" [class.selected]="showAll" (click)="changeQuotes(true)">Todas</div>
        <div class="chip quote-type" [class.selected]="!showAll" (click)="changeQuotes(false)">Vencidas</div>
      </span>
      <!--span class="quotes-types">
        <label>
        <input name="group1" type="radio" [checked]="showAll" (click)="changeQuotes(true)"/>
        <span>Todas</span>
        </label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label>
        <input name="group1" type="radio" [checked]="!showAll" (click)="changeQuotes(false)"/>
        <span>Vencidas</span>
        </label>
      </span-->
      <span class="grey-text text-lighten-4 right">
        <a class="btn btn-small">pagar $ {{total() | number}}</a></span>
    </div>
  </div>
</div>
