<div class="tgr-dialog">
    <div class="tgr-dialog__body">
        <p>
          Agregaste <strong>X</strong> propiedades al carro.
        </p>
    </div>
    <div class="tgr-dialog__options">
        <button class="mdl-button mdl-js-button mdl-button--primary button-default">
            CONTINUAR BUSCANDO
        </button>
        <button class="mdl-button mdl-js-button mdl-button--primary button-default">
            IR AL CARRO
            <i class="material-icons">keyboard_arrow_right</i>
        </button>
    </div>
</div>