.tgr-list-section {
    padding: 36px 0 140px;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.tgr-total {
  position: absolute;
  right: 19px;
  top: 30px;
}
.tgr-section-title {
  padding-left: 17px;
  position: relative;
  padding-top: 30px;
}
.tgr-section-title:first-child {
  padding-top: 0px;
}
.tgr-section-title:first-child .tgr-total {
  top: 0 ;
}
.tgr--has-late:hover .tgr-section-desc,
.mdl-cell:hover .tgr-button-delete {
  display: block;
}
.tgr-section-desc {
  background: rgba(255,245,245, .9);
  color: #666;
  display:none;
  font-size: 12px;  
  padding: 5px;
  position: absolute;
  top: 52px;
  width: 65%;
  z-index: 1000;
}
.tgr-section-desc .material-icons {
  float: left;
}
.tgr-section-desc--text {
  display: inline-block;
  float: left;
  line-height: 1.2;
  padding-left: 4px;  
  width: calc(100% - 40px);
}
.tgr-section-title--address {
  margin-right: 140px;
}
.tgr-card__title {    
  font-size:16px;
  margin: 0;
  padding: 0;
  //padding-bottom: 10px;
}
.tgr-card__title h6 {
  margin: 0;
}
.tgr-card__subtitle {
  margin-bottom: 0;
}
.tgr-card__subtitle-text {
  padding-left: 34px;
}
.tgr-100 {
  width: 100%
}
.tgr-card-container .mdl-data-table{
  width: 100%;
}
.tgr-card__header ~ .tgr-price{
  padding-bottom: 10px;
}
.tgr-price {
  float: right;
  line-height: 1;
  padding-left: 10px;
}
.tgr-price__cost {
  font-weight: bold;
}
.tgr-card__head {
  color: #fff; 
  background: #2E4A7A;
  overflow: hidden;
  padding: 16px;
  padding-bottom: 10px;
}
.tgr-card__header{   
  max-height:24px;
}
.tgr-card__title .material-icons {
  float: left;
  line-height: 1;  
  margin-right: 4px;
  margin-top: -6px;
  margin-bottom: -6px;
  //margin-bottom: 16px;
}
.tgr-card__title--text{
  display: block;
  font-size:16px;
  line-height: 1;
}
.tgr-card__tag {
  font-weight: bold;
}
.tgr-price__desc {
  line-height: 1.2;
  margin-bottom: 0;
  padding-top: 4px;
  text-align: right;  
}
.tgr-card__desc--tag{
  font-size: 12px;
  text-transform: uppercase;
}
.tgr-card__desc--price {
  color: #C0C0B3;
  padding-right: 3px;
}
.tgr-list-section  .mdl-shadow--2dp {
  box-shadow: none;
}
.tgr-list-section .mdl-data-table {
  border: none;
}
.tgr-cuota{
  width: 18%
}
.tgr-vence{
  width: 42%
}
.tgr-monto{
  width: 26%
}
.mdl-cell {
  position: relative;
}
.tgr-cell-wait {
  display:none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255,255,255,.9);
  z-index: 1001;
}
.tgr-button-delete {
  display: none;
  position: absolute;
  right: 10px;
  top: 64px;
  z-index: 99;
}
.wait > .tgr-cell-wait {
  display: block;
}
.tgr-cell-wait .mdl-spinner {
  left: calc(50% - 20px);
  margin-top: 20%;
}
.tgr-cell-wait__feedback {
  padding: 5px 32px;
  text-align: center;
  color: #666;
}
.tgr-tr--late {
  background: #F9D2D4;
  border-bottom-color: #F4B4B7;
}
.tgr-tr--late:hover{
  background: #F4B4B7;
}
.tgr-actions {
  background: #fff;
  bottom: 0;
  display: block;
  left:0;
  min-height: 80px;
  position: fixed;    
  right: 0;
  z-index: 900;
}
.tgr-actions:before {
  background: linear-gradient(to top,#666,#888);
   content: " ";
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
}
.tgr-actions__contet{
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
}
.tgr-add {
  margin: -30px auto 0;
  text-align: center;
  width: 130px;
}
.tgr-add__label {
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
}
.tgr-select {
  float: left;
  border: 2px solid #4285f4;  
  padding: 6px 16px 16px 16px;
  margin-top: -26px;
  margin-bottom: 16px;
  border-radius: 4px;
}
.tgr-select__label {
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
}
.tgr-select .mdl-radio {
  margin-right: 24px;
  font-size: 13px;
  text-transform: uppercase;
}
.tgr-pay {
  float: right;
  overflow: hidden;
}
.tgr-pay .mdl-button {
  float: right;
}
.tgr-pay__label {
  float: left;
  background: #4285f4;
  color: #fff; 
  border-radius: 4px;  
  padding: 8px 16px;
  margin-right: 16px;
}
.tgr-card-container {
  display: block;
  flex-flow: row nowrap;
}
.tgr-card-container .mdl-cell {
  display: block;
  float: left;
}
.tgr-section-title {
  clear: left;
}
@media (max-width: 1080px){
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 14px;
    padding-right: 14px;
  }
}
@media (max-width: 1000px){
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 950px){
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media (max-width: 890px){
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 3px;
    padding-right: 3px;
  }
}
@media (max-width: 839px){
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media (max-width: 740px){
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 14px;
    padding-right: 14px;
  }
}
@media (max-width: 670px){
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 620px){
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 3px;
    padding-right: 3px;

  }
}
@media (max-width: 605px){
  .tgr-list-section .mdl-cell--4-col,
  .tgr-list-section .mdl-cell--4-col-tablet.mdl-cell--4-col-tablet {
    width: calc(100% - 16px);
  } 
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 18px;
    padding-right: 18px;
  }
  .tgr-section-title {
    font-size: 18px;    
    font-weight: bold;
    line-height: 1.2;    
  }
}

    

