@import '../../../../styles/colors';

// zona titulo direccion
.tgr-section-title {
  color: $gray-text;  
  padding-bottom: 18px;
  padding-top: 30px;
  position: relative;
}
.tgr-section-title--address {
  font-size: 26px;
  font-weight: 300;
}
.tgr-list-section {
  padding: 36px 0 140px;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.tgr-card-container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.tgr-total {
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 30px;
}
.tgr-section-title:first-child {
  padding-top: 0px;
}
.tgr-section-title:first-child .tgr-total {
  top: 0 ;
}
// zona titulo direccion



// zona aciones
.tgr-actions {
  background: #fff;
  bottom: 0;
  box-shadow: 5px -4px 45px 0px rgba(153,153,153,.8);
  display: block;
  left:0;
  min-height: 80px;
  position: fixed;
  right: 0;
  z-index: 900;
}
.tgr-actions__contet{
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
}
.tgr-add {
  margin: -30px auto 0;
  text-align: center;
  width: 130px;
}
.tgr-add__label {
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
}
.tgr-select {
  float: left;
  padding: 6px 16px 16px 16px;
  margin-top: -26px;
  margin-bottom: 16px;
  border-radius: 4px;
}
.tgr-select__label {
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
}
.tgr-select .mdl-radio {
  margin-right: 24px;
  font-size: 13px;
  text-transform: uppercase;
}
.tgr-pay {
  float: right;
  overflow: hidden;
}
.tgr-pay .mdl-button {
  color: #fff;
  float: right;
}
.tgr-pay__label {
  float: left;
  color:$color-selected;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 16px;
}

.tgr-card-container .mdl-cell {
  display: block;
  float: left;
}
.tgr-section-title {
  clear: left;
}
.filter {
    height: 48px;
    line-height: 48px;
    overflow-x: auto;
    overflow-y: hidden;
}
.filter li {
  display: inline-block;
  float: none;
  height: inherit;
  line-height: inherit;
  margin-right: 10px;
  position: relative;
}
.filter a {
  background: $color-violet-light;
  border-radius: 32px;
  border: 1px solid $color-violet;
  color: $color-80;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  line-height: 32px;
  padding: 0 15px;
  text-decoration: none;
  transition: background-color .3s;
}
.filter .active a {
  background: $color-violet;
  color: #fff;
}
.tgr-list-section .mdl-data-table th {
  color: #000;
}
.mdl-data-table tbody tr.is-selected{
  background: $color-pink;
}
@media (max-width: 1080px){
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 14px;
    padding-right: 14px;
  }
}
@media (max-width: 1000px){
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 950px){
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media (max-width: 890px){
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 3px;
    padding-right: 3px;
  }
}
@media (max-width: 839px){
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media (max-width: 740px){
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 14px;
    padding-right: 14px;
  }
}
@media (max-width: 670px){
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 620px){
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 3px;
    padding-right: 3px;

  }
}
@media (max-width: 605px){
  .tgr-list-section .mdl-cell--4-col,
  .tgr-list-section .mdl-cell--4-col-tablet.mdl-cell--4-col-tablet {
    width: calc(100% - 16px);
  }
  .tgr-list-section .mdl-data-table td,
  .tgr-list-section .mdl-data-table th {
    padding-left: 18px;
    padding-right: 18px;
  }
  .tgr-section-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
  }
}



