<div class="tgr-list-section" appMdlInit>
  <div *ngFor="let propie of properties">
    <div class="tgr-section-title mdl-typography--display-1-color-contrast">
      <div class="tgr-section-title--address">Direccion Dummy</div>
      <div class="tgr-total">Monto Dummy</div>
    </div>

    <div class="tgr-card-container mdl-grid">
      <div class="mdl-cell mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--3dp" *ngFor="let rol of propie.rol">
        <div class="tgr-cell-wait">
          <div class="mdl-spinner mdl-js-spinner is-active">
          </div>
          <h5 class="tgr-cell-wait__feedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
        </div>
        <div class="tgr-card__head">

          <div class="tgr-card__header">
            <div class="tgr-price">
              <span class="tgr-price__cost">$15.000</span>
            </div>
            <p class="tgr-card__title">
              <i class="material-icons">directions_car</i>
              <span class="tgr-card__title--text">
                     {{rol.destPropiedad | titlecase}}
                   </span>
          </div>
          <div class="tgr-price">

            <p class="tgr-price__desc">
              <span class="tgr-card__desc--tag">Descuento:</span><br>
              <span class="tgr-card__desc--price">-$4.000</span>
            </p>
          </div>
          <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol:</span> {{rol.comuna | titlecase}} {{rol.rolId | leadingZero:5}}-{{rol.subrolId | leadingZero:3}}</p>
        </div>


        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
          <div class="mdl-tabs__tab-bar">
            <a href="#a{{year}}-panel" class="mdl-tabs__tab" [class.is-active]="i === 0" *ngFor="let year of rol.getYaers(); let i = index;">{{year}}</a>
          </div>

          <div class="mdl-tabs__panel " [class.is-active]="i === 0" id="a{{year}}-panel" *ngFor="let year of rol.getYaers(); let i = index;">
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
              <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
                <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
                <th class="tgr-monto">Monto</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let cuota of rol.getCuotas(year)" [class.tgr-tr--late]="cuota.isVencida()">
                <td class="mdl-data-table__cell--non-numeric">{{cuota.numeroCuota | slice:0:1}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{cuota.fechaVencimiento | date:'dd/MMM'}}</td>
                <td>$15.000</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="tgr-section-title mdl-typography--display-1-color-contrast">
    <div class="tgr-section-title--address">Avenida Presidente José Batlle y Ordoñez 3786</div>
    <div class="tgr-total">$50.000</div>
  </div>
  <div class="tgr-card-container mdl-grid">

    <div class="mdl-cell mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--3dp">
      <div class="tgr-cell-wait">
        <div class="mdl-spinner mdl-js-spinner is-active">
        </div>
        <h5 class="tgr-cell-wait__feedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
      </div>
      <div class="tgr-card__head">

        <div class="tgr-card__header">
          <div class="tgr-price">
            <span class="tgr-price__cost">$30.000</span>
          </div>
          <p class="tgr-card__title">
            <i class="material-icons">business</i>
            <span class="tgr-card__title--text">
                     Departamento 74
                   </span>
        </div>
        <div class="tgr-price">

          <p class="tgr-price__desc">
            <span class="tgr-card__desc--tag">Descuento:</span><br>
            <span class="tgr-card__desc--price">-$4.000</span>
          </p>
        </div>
        <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol:</span> Macul 00395-684</p>
      </div>


      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">


        <div class="mdl-tabs__panel is-active" id="a2018-panel">
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
              <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
              <th class="tgr-monto">Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tgr-tr--late">
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/abril</td>
              <td>$15.000</td>
            </tr>
            <tr class="tgr-tr--late">
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/junio</td>
              <td>$15.000</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/septiembre</td>
              <td>$15.000</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="wait mdl-cell mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--3dp">
      <div class="tgr-cell-wait">
        <div class="mdl-spinner mdl-js-spinner is-active">
        </div>
        <h5 class="tgr-cell-wait __feedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
      </div>
      <div class="tgr-card__head">

        <div class="tgr-card__header">
          <div class="tgr-price">
            <span class="tgr-price__cost">$30.000</span>
          </div>
          <p class="tgr-card__title">
            <i class="material-icons">business</i>
            <span class="tgr-card__title--text">
                     Bodega 015
                   </span>
        </div>
        <div class="tgr-price">

          <p class="tgr-price__desc">
            <span class="tgr-card__desc--tag">Descuento:</span><br>
            <span class="tgr-card__desc--price">-$4.000</span>
          </p>
        </div>
        <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol:</span> Macul 00395-684</p>
      </div>


      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">


        <div class="mdl-tabs__panel is-active" id="a2017-panel">
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
              <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
              <th class="tgr-monto">Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tgr-tr--late">
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/abril</td>
              <td>$15.000</td>
            </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--3dp">
      <div class="tgr-cell-wait">
        <div class="mdl-spinner mdl-js-spinner is-active">
        </div>
        <h5 class="tgr-cell-wait__feedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
      </div>
      <div class="tgr-card__head">

        <div class="tgr-card__header">
          <div class="tgr-price">
            <span class="tgr-price__cost">$30.000</span>
          </div>
          <p class="tgr-card__title">
            <i class="material-icons">business</i>
            <span class="tgr-card__title--text">
                     Bodega 015
                   </span>
        </div>
        <div class="tgr-price">

          <p class="tgr-price__desc">
            <span class="tgr-card__desc--tag">Descuento:</span><br>
            <span class="tgr-card__desc--price">-$4.000</span>
          </p>
        </div>
        <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol:</span> Macul 00395-684</p>
      </div>


      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#a2017-panel" class="mdl-tabs__tab is-active">2017</a>
          <a href="#a2018-panel" class="mdl-tabs__tab">2018</a>

        </div>

        <div class="mdl-tabs__panel is-active" id="a2017-panel">
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
              <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
              <th class="tgr-monto">Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tgr-tr--late">
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/abril</td>
              <td>$15.000</td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="mdl-tabs__panel" id="a2018-panel">
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
              <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
              <th class="tgr-monto">Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tgr-tr--late">
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/abril</td>
              <td>$150.000</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="mdl-cell mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--3dp">
      <div class="tgr-cell-wait">
        <div class="mdl-spinner mdl-js-spinner is-active">
        </div>
        <h5 class="tgr-cell-wait__feedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
      </div>
      <div class="tgr-card__head">

        <div class="tgr-card__header">
          <div class="tgr-price">
            <span class="tgr-price__cost">$15.000</span>
          </div>
          <p class="tgr-card__title">
            <i class="material-icons">directions_car</i>
            <span class="tgr-card__title--text">
                     Estacionamiento 103
                   </span>
        </div>
        <div class="tgr-price">

          <p class="tgr-price__desc">
            <span class="tgr-card__desc--tag">Descuento:</span><br>
            <span class="tgr-card__desc--price">-$4.000</span>
          </p>
        </div>
        <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol:</span> Macul 00395-684</p>
      </div>


      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#a2017-panel" class="mdl-tabs__tab is-active">2017</a>
          <a href="#a2018-panel" class="mdl-tabs__tab">2018</a>

        </div>

        <div class="mdl-tabs__panel is-active" id="a2017-panel">
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
              <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
              <th class="tgr-monto">Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/abril</td>
              <td>$15.000</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/junio</td>
              <td>$15.000</td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="mdl-tabs__panel" id="a2018-panel">
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
              <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
              <th class="tgr-monto">Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/abril</td>
              <td>$15.000</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/junio</td>
              <td>$15.000</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/septiembre</td>
              <td>$15.000</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>

  <div class="tgr-section-title mdl-typography--display-1-color-contrast">
    <div class="tgr-section-title--address">Avenida Presidente José Batlle y Ordoñez 3786</div>

    <div class="tgr-total">$50.000</div>
  </div>
  <div class="tgr-card-container mdl-grid">

    <div class="mdl-cell mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--3dp">
      <div class="tgr-cell-wait">
        <div class="mdl-spinner mdl-js-spinner is-active">
        </div>
        <h5 class="tgr-cell-wait__feedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
      </div>
      <div class="tgr-card__head">

        <div class="tgr-card__header">
          <div class="tgr-price">
            <span class="tgr-price__cost">$30.000</span>
          </div>
          <p class="tgr-card__title">
            <i class="material-icons">business</i>
            <span class="tgr-card__title--text">
                     Departamento 74
                   </span>
        </div>
        <div class="tgr-price">

          <p class="tgr-price__desc">
            <span class="tgr-card__desc--tag">Descuento:</span><br>
            <span class="tgr-card__desc--price">-$4.000</span>
          </p>
        </div>
        <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol:</span> Macul 00395-684</p>
      </div>


      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#a2017-panel" class="mdl-tabs__tab is-active">2017</a>
          <a href="#a2018-panel" class="mdl-tabs__tab">2018</a>

        </div>

        <div class="mdl-tabs__panel is-active" id="a2017-panel">
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
              <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
              <th class="tgr-monto">Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tgr-tr--late">
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/abril</td>
              <td>$1.000</td>
            </tr>
            <tr class="tgr-tr--late">
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/junio</td>
              <td>$1.000</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/septiembre</td>
              <td>$1.000</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="mdl-tabs__panel" id="a2018-panel">
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr class="tgr-tr--late">
              <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
              <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
              <th class="tgr-monto">Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tgr-tr--late">
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/abril</td>
              <td>$15.000</td>
            </tr>
            <tr class="tgr-tr--late">
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/junio</td>
              <td>$15.000</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/septiembre</td>
              <td>$15.000</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--3dp">
      <div class="tgr-cell-wait">
        <div class="mdl-spinner mdl-js-spinner is-active">
        </div>
        <h5 class="tgr-cell-wait__feedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
      </div>
      <div class="tgr-card__head">

        <div class="tgr-card__header">
          <div class="tgr-price">
            <span class="tgr-price__cost">$30.000</span>
          </div>
          <p class="tgr-card__title">
            <i class="material-icons">business</i>
            <span class="tgr-card__title--text">
                     Bodega 015
                   </span>
        </div>
        <div class="tgr-price">

          <p class="tgr-price__desc">
            <span class="tgr-card__desc--tag">Descuento:</span><br>
            <span class="tgr-card__desc--price">-$4.000</span>
          </p>
        </div>
        <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol:</span> Macul 00395-684</p>
      </div>


      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#a2017-panel" class="mdl-tabs__tab is-active">2017</a>
          <a href="#a2018-panel" class="mdl-tabs__tab">2018</a>

        </div>

        <div class="mdl-tabs__panel is-active" id="a2017-panel">
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
              <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
              <th class="tgr-monto">Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tgr-tr--late">
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/abril</td>
              <td>$15.000</td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="mdl-tabs__panel" id="a2018-panel">
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
              <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
              <th class="tgr-monto">Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tgr-tr--late">
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/abril</td>
              <td>$150.000</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--3dp">
      <div class="tgr-cell-wait">
        <div class="mdl-spinner mdl-js-spinner is-active">
        </div>
        <h5 class="tgr-cell-wait__feedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
      </div>
      <div class="tgr-card__head">

        <div class="tgr-card__header">
          <div class="tgr-price">
            <span class="tgr-price__cost">$15.000</span>
          </div>
          <p class="tgr-card__title">
            <i class="material-icons">directions_car</i>
            <span class="tgr-card__title--text">
                     Estacionamiento 103
                   </span>
        </div>
        <div class="tgr-price">

          <p class="tgr-price__desc">
            <span class="tgr-card__desc--tag">Descuento:</span><br>
            <span class="tgr-card__desc--price">-$4.000</span>
          </p>
        </div>
        <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol:</span> Macul 00395-684</p>
      </div>


      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#a2017-panel" class="mdl-tabs__tab is-active">2017</a>
          <a href="#a2018-panel" class="mdl-tabs__tab">2018</a>

        </div>

        <div class="mdl-tabs__panel is-active" id="a2017-panel">
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
              <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
              <th class="tgr-monto">Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/abril</td>
              <td>$15.000</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/junio</td>
              <td>$15.000</td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="mdl-tabs__panel" id="a2018-panel">
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
              <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
              <th class="tgr-monto">Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/abril</td>
              <td>$15.000</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/junio</td>
              <td>$15.000</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/septiembre</td>
              <td>$15.000</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>


  <div class="tgr-section-title mdl-typography--display-1-color-contrast">
    <div class="tgr-section-title--address">Avenida Presidente José Batlle y Ordoñez 3786</div>

    <div class="tgr-total">$51.000</div>
  </div>
  <div class="tgr-card-container mdl-grid">


    <div class="mdl-cell mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--3dp">
      <div class="tgr-cell-wait">
        <div class="mdl-spinner mdl-js-spinner is-active">
        </div>
        <h5 class="tgr-cell-wait__feedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
      </div>
      <div class="tgr-card__head">

        <div class="tgr-card__header">
          <div class="tgr-price">
            <span class="tgr-price__cost">$30.000</span>
          </div>
          <p class="tgr-card__title">
            <i class="material-icons">home</i>
            <span class="tgr-card__title--text">
                     Casa
                   </span>
        </div>
        <div class="tgr-price">

          <p class="tgr-price__desc">
            <span class="tgr-card__desc--tag">Descuento:</span><br>
            <span class="tgr-card__desc--price">-$4.000</span>
          </p>
        </div>
        <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol:</span> Macul 00395-684</p>
      </div>


      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#a2017-panel" class="mdl-tabs__tab is-active">2017</a>
          <a href="#a2018-panel" class="mdl-tabs__tab">2018</a>

        </div>

        <div class="mdl-tabs__panel is-active" id="a2017-panel">
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
              <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
              <th class="tgr-monto">Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tgr-tr--late">
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/abril</td>
              <td>$15.000</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/septiembre</td>
              <td>$150.000</td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="mdl-tabs__panel" id="a2018-panel">
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
              <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
              <th class="tgr-monto">Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tgr-tr--late">
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/abril</td>
              <td>$150.000</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">1</td>
              <td class="mdl-data-table__cell--non-numeric">20/septiembre</td>
              <td>$150.000</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>


</div>

<div class="tgr-actions">
  <div class="tgr-actions__contet">
    <div class="tgr-add">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" [routerLink]="['propiedades']">
        <i class="material-icons">add</i>
      </button>
      <div class="tgr-add__label">Agrega Propiedad</div>
    </div>
    <div class="tgr-pay">
      <div class="tgr-pay__label">
        de 6 roles, 36 cuotas seleccionados
      </div>
      <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
              (click)="openDialog()">Pagar
      </button>
    </div>
    <div class="tgr-select">
      <div class="tgr-select__label">
        Selección rápida de cuotas:
      </div>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
        <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
        <span class="mdl-radio__label">Todas</span>
      </label>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
        <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
        <span class="mdl-radio__label">Vencidas</span>
      </label>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
        <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="3">
        <span class="mdl-radio__label">Vigentes</span>
      </label>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
        <input type="radio" id="option-4" class="mdl-radio__button" name="options" value="4">
        <span class="mdl-radio__label">Ninguna</span>
      </label>
    </div>
  </div>
</div>
<app-detalle-pago #detallePago></app-detalle-pago>






