<div class="tgr-list-section">
  <app-listado-propiedad
    *ngFor="let propiedad of propiedades"
    [propiedad]="propiedad"
    (change)="updateSeleccionadaTotal()">
  </app-listado-propiedad>
</div>

<div class="tgr-actions">
  <div class="tgr-actions__contet">
    <div class="tgr-pay">
      <div class="tgr-pay__label">
        de 6 roles, 36 cuotas seleccionadas
      </div>
      <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
              (click)="openDialog()">Pagar $ {{total | number}}
      </button>
    </div>
     <div class="tgr-select tgr-select--select mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <select class="mdl-textfield__input" id="octane" name="octane">
        <option value="85">Todas</option>
        <option value="87">Vencidas</option>
        <option value="89">Vigentes</option>
        <option value="91">Ninguna</option>
      </select>
      <label class="tgr-select__label mdl-textfield__label" for="octane">Seleccionar:</label>
    </div>
    <div class="tgr-select tgr-select--buttons">
      <div class="tgr-select__label">
        Seleccionar:
      </div>
      <ul class="filter">
        <li [class.active]="seleccionada === tipo.TODAS"><a (click)="seleccionar(tipo.TODAS)"><i class="material-icons">done</i>Todas</a></li>
        <li [class.active]="seleccionada === tipo.VENCIDAS"><a (click)="seleccionar(tipo.VENCIDAS)"><i class="material-icons">done</i>Vencidas</a></li>
        <li [class.active]="seleccionada === tipo.VIGENTES"><a (click)="seleccionar(tipo.VIGENTES)"><i class="material-icons">done</i>Vigentes</a></li>
        <li [class.active]="seleccionada === tipo.NINGUNA"><a (click)="seleccionar(tipo.NINGUNA)"><i class="material-icons">done</i>Ninguna</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="tgr-add">
  <div class="tgr-target-wrapper">
    <div class="tgr-target">
      <div class="tgr-target-content">
        <h5 class="tgr-target-text">Encontramos <strong>2 roles</strong> <br>
          asociados a tu RUT <br>
          <strong class="tgr-target-here">Agrégalos aquí</strong>
          <br>
          <br>
          <a class="tgr-close">ENTENDIDO</a>
        </h5>
      </div>
    </div>
  </div>
</div>
<div class="tgr-add">
  <div class="tgr-target-wrapper">
    <div class="tgr-target-wave">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" [routerLink]="['propiedades']">
        <i class="material-icons">add</i>
      </button>
    </div>
  </div>
</div>
<app-detalle-pago #detallePago></app-detalle-pago>
