.tgr-list-section {
    padding: 36px 0;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}
.tgr-total {
  position: absolute;
  right: 8px;
  top: 8px;
}
.tgr-section-title {
  position: relative;
}
.tgr-card__title {
  margin: 0;
  padding: 0 0 10px 0;
}
.tgr-card__title h6 {
  margin: 0;
}
.tgr-card__subtitle-text {
  padding-left: 34px;
}
.tgr-100 {
  width: 100%
}
.tgr-card-container .mdl-data-table{
  width: 100%;
}