/* ===================================== */
/* ==========  Custom Colors  ========== */
/* ===================================== */

$color-warning-text : #F4B4B7;
$color-warning-text-hover : #F4B4B7;
$color-warning-background : #F9D2D4;
$color-advice-background : rgba(197,211,242,.9);
$gray-backgorund : #f0f0f0;
$gray-card-backgorund : #CBCEE0;
$gray-text : #666;
$gray-text-dark : #444;
$gray-light : #E0E0E0;
$gray-filter : #747474;
$color-80 : rgba(0,0,0,.8);
$color-violet : #5F5FC4;
$color-violet-light : #E8EAF6;
$color-violet-text : #7E86BE;
$color-violet-light-dark : #001064;
$color-dark : #202020;
$color-pink : #FFEBEE;
$color-selected : #4D4D4D;
$color-filter : #3F51B5;
$color-light : #EAF0FD;
$tgr-text-colored : #ff6800;
$color-selected-row : #F5F6FB;
$tgr-condoned : #44b24e;

/* ======================================= */
/* ==========  Material Colors  ========== */
/* ======================================= */

$color-primary : #283593;
$color-primary-dark : #001064;
//$color-accent : '';
$color-primary-contrast : #dd0117;

//$color-accent-contrast : '';

/* ==========  Typography  ========== */
//$text-color-primary : '';
//$text-link-color : '';

/* ==========  Components  ========== */

/* ==========  Standard Buttons  ========== */

$button-primary-color : #448aff;
//$button-secondary-color : '';
//$button-hover-color: '';
//$button-active-color: '';
//$button-focus-color: '';

//$button-primary-color-alt: '';
//$button-secondary-color-alt: '';
//$button-hover-color-alt: '';
//$button-active-color-alt: '';
//$button-focus-color-alt: '';

//$button-ripple-color-alt: '';

//$button-primary-color-disabled: '';
//$button-secondary-color-disabled: '';

//$button-fab-color-alt: '';
//$button-fab-hover-color-alt: '';
//$button-fab-active-color-alt: '';
//$button-fab-text-color-alt: '';
//$button-fab-ripple-color-alt: '';

//$button-icon-color: '';
//$button-icon-focus-color: '';

/* ==========  Icon Toggles  ========== */

//$icon-toggle-color: '';
//$icon-toggle-focus-color: '';
//$icon-toggle-checked-color: '';
//$icon-toggle-checked-focus-color: '';
//$icon-toggle-disabled-color: '';

/* ==========  Radio Buttons  ========== */

//$radio-color: '';
//$radio-off-color: '';
//$radio-disabled-color: '';

/* ==========  Ripple effect  ========== */

//$ripple-bg-color: '';

/* ==========  Layout  ========== */

//$layout-nav-color: '';

// Drawer
//$layout-drawer-bg-color: '';
//$layout-drawer-border-color: '';
//$layout-text-color: '';
//$layout-drawer-navigation-color: '';
//$layout-drawer-navigation-link-active-background: '';
//$layout-drawer-navigation-link-active-color: '';

// Header
//$layout-header-bg-color: '';
//$layout-header-text-color: '';
//$layout-header-nav-hover-color: '';
//$layout-header-tab-text-color: '';

// Tabs
//$layout-header-tab-highlight: '';

/* ==========  Content Tabs  ========== */

//$tab-highlight-color: '';
//$tab-text-color: '';
//$tab-active-text-color: '';
//$tab-border-color: '';

/* ==========  Checkboxes  ========== */

//$checkbox-color: '';
//$checkbox-off-color: '';
//$checkbox-disabled-color: '';
//$checkbox-focus-color: '';

/* ==========  Switches  ========== */

//$switch-color: '';
//$switch-faded-color: '';
//$switch-thumb-color: '';
//$switch-track-color: '';

//$switch-off-thumb-color: '';
//$switch-off-track-color: '';
//$switch-disabled-thumb-color: '';
//$switch-disabled-track-color: '';

/* ==========  Spinner  ========== */

//$spinner-color-1: '';
//$spinner-color-2: '';
//$spinner-color-3: '';
//$spinner-color-4: '';

//$spinner-single-color: '';

/* ==========  Text fields  ========== */

//$input-text-background-color: '';
//$input-text-label-color: '';
//$input-text-bottom-border-color: '';
//$input-text-highlight-color: '';
//$input-text-disabled-color: '';
//$input-text-disabled-text-color: '';
//$input-text-error-color: '';

/* ==========  Card  ========== */

//$card-background-color: '';
//$card-text-color: '';
//$card-image-placeholder-color: '';
//$card-supporting-text-text-color: '';
//$card-border-color: '';
//$card-subtitle-color: '';

/* ==========  Sliders ========== */

//$range-bg-color: '';
//$range-color: '';
//$range-faded-color: '';
//$range-bg-focus-color: '';

/* ========== Progress ========== */

//$progress-main-color: '';
//$progress-secondary-color: '';
//$progress-fallback-buffer-color: '';

/* ==========  List ========== */

//$list-main-text-text-color: '';
//$list-supporting-text-text-color: '';
//$list-icon-color: '';
//$list-avatar-color: '';

/* ==========  Item ========== */

//$default-item-text-color: '';
//$default-item-outline-color: '';
//$default-item-hover-bg-color: '';
//$default-item-focus-bg-color: '';
//$default-item-active-bg-color: '';
//$default-item-divider-color: '';

//$disabled-item-text-color: '';

/* ==========  Dropdown menu ========== */

//$default-dropdown-bg-color: '';

/* ==========  Tooltips  ========== */

//$tooltip-text-color: '';
//$tooltip-background-color: '';

/* ==========  Footer  ========== */

//$footer-bg-color: '';
//$footer-color: '';
//$footer-heading-color: '';
//$footer-button-fill-color: '';
//$footer-underline-color: '';
