@import "~@angular-mdl/core/scss/color-definitions";

$button-primary-color: #448aff;
$spinner-single-color: $button-primary-color;

$color-warning-text : #F4B4B7;
$color-warning-text-hover : #F4B4B7;
$color-warning-background : #F9D2D4;
$color-advice-background : rgba(197,211,242,.9);
$color-delete-background : rgba(255,255,255,.9);
$gray-lightblue-background : #eaeff5;
$gray-lightblue-background-hover : #D8E4EF;
$gray-backgorund : #fafafa;
$gray-header : #f0f0f0;
$gray-card-backgorund : #CBCEE0;
$gray-text : #666;
$gray-text-dark : #444;
$gray-light : #E0E0E0;
$gray-filter : #747474;
$gray-65: rgba(0,0,0,0.65);
$color-80 : rgba(0,0,0,.8);
$color-violet : #5F5FC4;
$color-violet-light : #E8EAF6;
$color-violet-text : #7E86BE;
$color-violet-light-dark : #001064;
$color-dark : #202020;
$color-pink : #FFEBEE;
$color-selected : #4D4D4D;
$color-filter : #3F51B5;
$color-light : #EAF0FD;
$tgr-text-colored : #ff6800;
$color-selected-row : #F5F6FB;
$tgr-condoned : #44b24e;
$tgr-selector : #3E51B5;
$tgr-selector-primary : #052D86;
$tgr-selector-secondary : #757DE8;

$gray-26: rgba(0,0,0,0.26);
$gray-12: rgba(0,0,0,0.12);
$gray-6: rgba(0,0,0,0.6);
$gray-65: rgba(0,0,0,0.65);
$gray-87: rgba(0,0,0,0.87);
$gray-250: rgb(250,250,250);
$gray-blue: #CCCFE4;
$border-12: 1px solid rgba(0,0,0,0.12);
$link-color : #448aff;
$gray-backgorund : #fafafa;
$primary-color: #283593;

$color-primary : #283593;
$color-primary-dark : #001064;
$color-primary-contrast : #dd0117;


//Variables de color
$color-primary: #252e60;
$color-primary-hover: #090b16;
$color-contribuciones: #931C82;
$color-deudas_fiscales: #48A9E1;
$color-dark-blue-text: #2f3c89;
$color-secondary: #4b4b4b;
$color-active-link: #4151aa;
$color-disabled: #b2b2b2;
$color-lighter-gray2: #fefefe;
$color-lighter-gray: #f5f5f5;
$color-light-gray: #f0f0f0;
$color-light-gray2: #dddddd;
$color-light-gray-hover: #d0d0d0;
$color-light-gray3: #e3e3e3;
//$color-dark-gray: #3c3e4b;
$color-dark-gray: #545455;
$color-default-dark: #383838;
$color-white: #ffffff;
$color-black: #000000;
$color-dodgerblue: #1e90ff;
$color-dodgerblue-hover: #1275f8;
// $color-active-menu : #e8f0fe;
$color-info: #3e53c6;
$color-success: #00B344;
$color-success-hover: #089B3C;
$color-warning: #ffa500;
$color-warning-hover: #dd6a1d;
$color-danger: #df2b34;
$color-expired: #df2B34;
$color-facebook: #3B5998;
$color-twitter: #1bbefd;
$color-google: #d34836;
$color-facebook-hover: #213e7c;
$color-twitter-hover: #22a5e5;
$color-google-hover: #bd311f;
$color-tgr-lighter-gray: #ecf2f5;

$tgr-condonacion: #00B344;

// SHADOWS
//$mdl-shadow--3dp : (0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12));
@mixin box-shadow-3dp {
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
     -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);       
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
