
@import 'colors';

html, body {
  font-family: 'Roboto', sans-serif !important;
}

.mdl-layout {
  background: $gray-backgorund;
}

.tgr-header .mdl-layout__drawer-button{
    color: #767777 !important;
}
.mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
  background: $color-violet;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after{
  background: $color-violet;
}
.tgr-card-container .mdl-data-table{
  width: 100%;
  border: none;
}
@media (max-width: 1080px){
  .tgr-list-section .mdl-data-table .mdl-checkbox.is-upgraded{
    padding-left: 0;
  }
}
@media (max-width: 839px){
  .tgr-list-section .mdl-data-table .mdl-checkbox.is-upgraded{
    padding-left: 24px;
  }
}
@media (max-width: 740px){
  .tgr-list-section .mdl-data-table .mdl-checkbox.is-upgraded{
    padding-left: 0;
  }
}
@media (max-width: 605px){
  .tgr-list-section .mdl-data-table .mdl-checkbox.is-upgraded{
    padding-left: 24px;
  }
}
