
@import 'colors';

html, body {
  font-family: 'Roboto', sans-serif !important;
}

.tgr-container {
  padding-left: 0;
  padding-right: 0;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;  
  @media (max-width: 1260px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.tgr-content {
  background: #fff;
  border-radius: 4px;
  position: relative;
}

// encabezado card
.tgr-card__head {
  border-bottom: 2px solid $color-filter;
  color: $color-primary;
  overflow: hidden;
  padding: 20px 16px;
  position: relative;
}
.tgr-card__title--text{
  display: block;
  font-size:18px;
  font-weight: 500;
  line-height: 1;
}
.tgr-switch {
  border: 1px solid $color-filter;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;  
  float: right;
}
.tgr-switch-active {
  background: $color-filter;
  color: #fff;
  border: none;
  border-radius: 2px;    
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}
.tgr-card__body {
  padding: 16px;
}
.tgr-card__footer {
  padding: 0 16px 16px;
  text-align: right;
}
.mdl-textfield__input {
  box-sizing: border-box;
  padding: 4px 8px;  
}
.mdl-textfield__help {
  color: $gray-65;
  position: absolute;
  font-size: 12px;
  margin-top: 3px;
  display: block;
}
.tgr-results {
  padding-top: 20px;
}
.tgr-results .tgr-content {
  width: 376px;
}



.mdl-layout {  
  background: $gray-backgorund;
}

.tgr-header .mdl-layout__drawer-button{
    color: #767777 !important;
}
.mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
  background: $color-violet;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after{
  background: $color-violet;
}
.tgr-card-container .mdl-data-table{
  width: 100%;
  border: none;
}
.delete .tgr-cell-delete{
  display: block !important; 
}
.see-discounts .tgr-rol:hover .has-discount .tgr-section-desc {
  top: 0;
}
.see-discounts.delete .tgr-rol:hover .has-discount .tgr-section-desc {
  top: 102px;
}

// zona aciones
.tgr-actions {
  background: #fff;
  bottom: 0;
  box-shadow: 0px 3px 26px 0px rgba(168, 168, 168, 1);
  display: block;
  left: 0;
  min-height: 98px;
  position: fixed;
  right: 0;
  z-index: 900;
  @media (max-width: 1260px) {
    padding-left: 16px;
    padding-right: 16px;
  } 
  @media (max-width: 820px){
    min-height: 90px;
  }
  @media (max-width: 520px){
    min-height: 110px;
  }
}

.tgr-actions__content {
  max-width: 1226px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1260px) {
    padding-left: 16px;
    padding-right: 16px;
  } 
}

//boton de pago
.tgr-pay .mdl-button {
  background: $button-primary-color;
  border-radius: 6px;
  color: #fff;
  display: block;
  float: right;
}

.tgr-pay .mdl-button span {
  font-size: 16px;
  padding-left: 3px;
  padding-right: 3px;
}


//confirmation

.tgr-confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 140px); 
  @media (max-width: 450px) {
    padding-left: 16px;
    padding-right: 16px;
  } 
}
.tgr-confirmation a {
  font-weight: 400;
  text-decoration: none;
}

.tgr-confirmation-card {
  color: $gray-text;
  flex: 1;
  max-width: 50%; 
  padding: 40px;
  @media (max-width: 800px) {
    max-width: 80%; 
  }
  @media (max-width: 450px) {
    max-width: none; 
  }
}
.tgr-confirmation  .material-icons {
  color: $primary-color;
  font-size: 40px;
}
.tgr-confirmation__title {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 20px 0;
}
.tgr-confirmation p {
  margin: 0;
}
.tgr-confirmation__subtitle {
  color: $primary-color;
  font-size: 18px;
  margin: 0;
  padding: 16px;
}
.tgr-confirmation__footer-link {
  font-size: 16px;
  padding-top: 56px;
  text-align: left;
}
.tgr-confirmation__footer-link a {  
  text-decoration: none;
  color: $link-color;
}
.tgr-pay-panel .mdl-radio__outer-circle,
.tgr-pay-panel .mdl-radio__inner-circle,
.tgr-pay-panel input.mdl-radio__button{
  display: none;
}
.tgr-pay-panel .mdl-radio {
  padding: 0;
}
.tgr-pay-panel .mdl-radio.is-checked {
  background: rgba($color-primary, .1);
}

.tgr-loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
   background-image:
    radial-gradient(
      circle ,
      #fff,
      #A3A9CF
    );
}
.tgr-loading figure {
  position: relative;
  width: 146px;
}
.tgr-loading figcaption {
  color: $primary-color;
  margin-top: 32px;
  text-align: center;
  line-height: 1.2;
}
.tgr-tgr {
  position: absolute;
  top: 15px;
  left: 32px;
}
.tgr-star  {
    -webkit-animation: rotation 2s infinite linear;
}
.mdl-data-table td, .mdl-data-table th {
  @media (max-width: 360px) {
    padding: 0 6px 12px 6px;
  }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}


@media (max-width: 1080px){
  .tgr-list-section .mdl-data-table .mdl-checkbox.is-upgraded{
    padding-left: 0;
  }
}
@media (max-width: 839px){
  .tgr-list-section .mdl-data-table .mdl-checkbox.is-upgraded{
    padding-left: 24px;
  }
}
@media (max-width: 740px){
  .tgr-list-section .mdl-data-table .mdl-checkbox.is-upgraded{
    padding-left: 0;
  }
}
@media (max-width: 605px){
  .tgr-list-section .mdl-data-table .mdl-checkbox.is-upgraded{
    padding-left: 24px;
  }
}
