<dialog #dialog class="mdl-dialog tgr-dialog ">
  <button class="mdl-button mdl-js-button mdl-button--icon tgr-close" (click)="closeDialog()">
    <i class="mdl-layout-icon  material-icons">close</i>
  </button>

  <h1 class="mdl-dialog__title tgr-dialog__title">Esta seguro de desasociar n Roles?</h1>

  <button type="button" class="mdl-button mdl-js-button mdl-button--primary" (click)="aceptar()">Aceptar</button>
  <button type="button" class="mdl-button mdl-js-button mdl-button--accent" (click)="closeDialog()">Cancelar</button>

</dialog>
