<div class="close-dialog">
  <a (click)="volver()">
    <i class="material-icons">close</i>
  </a>
</div>
<div class="dialog-body">
  <h4>¿Cómo buscar por <strong>ROL</strong>?</h4>
  <p>Los Roles están compuestos de la siguiente forma <strong>000-00000-000</strong>, que se desglosa en:</p>
  <ul>
    <li><strong>Comuna</strong> : Corresponde a los 3 primeros números.</li>
    <li><strong>ROL</strong> : Corresponde a los 5 números del centro.</li>
    <li><strong>Sub ROL</strong> : Corresponde a los 3 últmimos números.</li>
  </ul>
  <p>Además, puedes revisar el <strong>Boletín de Pago</strong> enviado por SII - TGR. En él encontrarás la información de tu <strong>comuna</strong> y el <strong>Número de ROL y Sub ROL</strong> necesarios para buscar tu/s propiedad/es.</p>
  <p>En las siguientes imágenes de ejemplo resaltamos en amarillo la información necesaria. Haz click en ellas para agrandarlas :</p>
  <div class="column has-text-centered">
    <div class="img-row" *ngFor="let image of albums; let i=index">
      <img class="img-frame" [src]="image.thumb" (click)="open(i)"/>
    </div>
  </div>
</div>
<div class="dialog-footer">
  <button class="mdl-button button-default-link" (click)="volver()">Entendido</button>
</div>
