<div class="close-dialog">
  <a (click)="volver()">
    <i class="material-icons">close</i>
  </a>
</div>
<div class="dialog-body">
  <h4>¿Cómo buscar por <strong>ROL</strong>?</h4>
  <p>Revisa el <strong>Certificado de Avalúo Fiscal</strong> que te entrega XXXXXX Institución. En él encontrarás la información de tu comuna y el <strong>Número de ROL</strong> que corresponde tanto al ROL como al Sub ROL.</p>
  <div class="column has-text-centered">
    <div class="img-row" *ngFor="let image of albums; let i=index">
      <img class="img-frame" [src]="image.thumb" (click)="open(i)"/>
    </div>
  </div>
</div>
<a (click)="volver()">Entendido</a>
