@import "../../contribuciones/agregar/sugeridas/sugeridas.component";
.tgr-card__title--text{
  color: $color-primary
}

.tgr-card__body {
  .tgr-rol-row {
    .tgr-th-icon {
      .material-icons {
        color: #2f3c89;
        float: left;
        line-height: 0;
        margin-right: 4px;
        margin-top: -6px;
        margin-bottom: -6px;
      }
    }
  }
}

.tgr-th-icon{
  float: left;
}

.tgr-card-body{
  padding-left: 28px;
}

