<div mdl-shadow="2" class="background-lightgray bar">

    <div class="bar-text">
        <h6><p class="direccion"> {{ servicio.servicioNom | titlecase }} </p></h6>
    </div>

    <div class="mdl-layout-spacer"></div>

    <div class="wrapper">
        <span [class.tgr-tr--late]="servicio.expired">
           {{ mtoServ | currency:'CLP':'symbol' }}
        </span>
    </div>

</div>


<div [class.hidden]="!mostrar" *ngFor="let formulario of servicio.listFormulario">
    <app-deuda-fiscal-formulario [formulario]="formulario" (actualizarMonto)="actualizarMonto($event)"></app-deuda-fiscal-formulario>
</div>
