<div class="tgr-container">
  <div class="tgr-certificates">
    <div class="tgr-certificates__type">
      <h4>Tipo de Certificados</h4>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="deudas">
        <input type="checkbox" id="deudas" class="mdl-checkbox__input" checked>
        <span class="mdl-checkbox__label">Certificado deudas</span>
      </label>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="pagos">
        <input type="checkbox" id="pagos" class="mdl-checkbox__input" checked>
        <span class="mdl-checkbox__label">Historial de pagos</span>
      </label> 
      
    </div>
    <div class="tgr-certificates__email">
      <h4>Correo de destino</h4>
      <p>Ingresa el correo electrónico al que se enviarán los certificados</p>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Correo electrónico</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
          <input type="text" value="" class="mdl-textfield__input" id="sample4" readonly>
          <input type="hidden" value="" name="sample4">
          <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
          <label for="sample4" class="mdl-textfield__label">Año</label>
          <ul for="sample4" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
              <li class="mdl-menu__item">2018</li>
              <li class="mdl-menu__item">2017</li>
              <li class="mdl-menu__item">2016</li>
          </ul>
        </div>
      
    </div>        
  </div>


  







  
  <h4>Propiedades</h4>
  <div class="tgr-results">    
    

    <div class="tgr-content mdl-shadow--3dp">
        <div class="tgr-card__head">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
            <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          </label>   
          <span class="tgr-card__title--text">Avenida Miguel Claro 1074</span>
        </div>
        <div class="tgr-card__body">
          <div class="tgr-rol-row">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
              <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
            </label>  
            <p class="tgr-card__title"><i class="material-icons">meeting_room</i><span class="tgr-card__title--text">Bodega</span></p>
            <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol</span>
              082-01011-003
            </p>          
          </div>

          <div class="tgr-rol-row">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
              <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
            </label>  
            <p class="tgr-card__title"><i class="material-icons">meeting_room</i><span class="tgr-card__title--text">Bodega</span></p>
            <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol</span>
              082-01011-003
            </p>          
          </div>

          <div class="tgr-rol-row">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
              <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
            </label>  
            <p class="tgr-card__title"><i class="material-icons">meeting_room</i><span class="tgr-card__title--text">Bodega</span></p>
            <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol</span>
              082-01011-003
            </p>          
          </div>                             
        </div>               
    </div>



    <div class="tgr-content mdl-shadow--3dp">
        <div class="tgr-card__head">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
            <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          </label>   
          <span class="tgr-card__title--text">Avenida Miguel Claro 1074</span>
        </div>
        <div class="tgr-card__body">
          <div class="tgr-rol-row">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
              <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
            </label>  
            <p class="tgr-card__title"><i class="material-icons">meeting_room</i><span class="tgr-card__title--text">Bodega</span></p>
            <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol</span>
              082-01011-003
            </p>          
          </div>

          <div class="tgr-rol-row">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
              <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
            </label>  
            <p class="tgr-card__title"><i class="material-icons">meeting_room</i><span class="tgr-card__title--text">Bodega</span></p>
            <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol</span>
              082-01011-003
            </p>          
          </div>

          <div class="tgr-rol-row">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
              <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
            </label>  
            <p class="tgr-card__title"><i class="material-icons">meeting_room</i><span class="tgr-card__title--text">Bodega</span></p>
            <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol</span>
              082-01011-003
            </p>          
          </div>                             
        </div>               
    </div>

    <div class="tgr-content mdl-shadow--3dp">
        <div class="tgr-card__head">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
            <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          </label>   
          <span class="tgr-card__title--text">Avenida Miguel Claro 1074</span>
        </div>
        <div class="tgr-card__body">
          <div class="tgr-rol-row">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
              <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
            </label>  
            <p class="tgr-card__title"><i class="material-icons">meeting_room</i><span class="tgr-card__title--text">Bodega</span></p>
            <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol</span>
              082-01011-003
            </p>          
          </div>

          <div class="tgr-rol-row">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
              <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
            </label>  
            <p class="tgr-card__title"><i class="material-icons">meeting_room</i><span class="tgr-card__title--text">Bodega</span></p>
            <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol</span>
              082-01011-003
            </p>          
          </div>

          <div class="tgr-rol-row">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
              <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
            </label>  
            <p class="tgr-card__title"><i class="material-icons">meeting_room</i><span class="tgr-card__title--text">Bodega</span></p>
            <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol</span>
              082-01011-003
            </p>          
          </div>                             
        </div>               
    </div>



  </div>
  <div class="tgr-actions">
    <div class="tgr-actions__content">
      <div class="tgr-pay">
        <div _ngcontent-c3="" class="tgr-pay__label"> 9 roles seleccionados </div>
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" routerLink="confirmacion">
                Enviar Certificado
        </button>        
      </div>
    </div>
  </div>
</div>

