<div class="tgr-landing">
  <div class="tgr-landing-content docs-text-styling">
    <div class="tgr-landing-header">
      <img class="tgr-logo-image" alt="TGR" src="../../../assets/tgr-logo.svg">
      <h2 class="mdl-typography--text-center">Portal de Contribuciones TGR</h2>
      <p class="mdl-typography--text-center">
        Sáltate la fila y ahorra tiempo pagando tus contribuciones o solicitando tus certificados en línea
      </p>
    </div>

    <div class="mdl-grid">
      <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
        <div class="mdl-card__title">
          <div class="tgr-grid">
            <div class="mdl-cell tgr-cell">
              <h3 class="mdl-card__title-text">
              <i class="material-icons">lock</i>
              <span>Inicio / registro</span>
              </h3>
            </div>
          </div>
        </div>
        <hr class="no-padding">
        <div class="mdl-card__supporting-text mdl-card--expand">
          <p>Ingresa con tu Cuenta TGR o registrate para sacarle más provecho al portal</p>
            <div class="mdl-card__actions   mdl-typography--text-center ">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"  [href]="['/main']" >
                  Ingresar
                </a>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
              <a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Registrarse
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
        <div class="mdl-card__title">
          <div class="tgr-grid">
            <div class="mdl-cell tgr-cell">
              <h3 class="mdl-card__title-text">
                <i class="material-icons">payment</i>
                <span>Pago contribuciones</span>
              </h3>
            </div>
          </div>
        </div>
        <hr class="no-padding">
        <div class="mdl-card__supporting-text mdl-card--expand">
          <p>Asocia tus propiedades a tu cuenta (nosotros te sugeriremos las que identifiquemos te pertenezcan) y luego el proceso de pago de contribuciones será cada vez más simple </p>
          <p>Tenemos disponible todo tipo de medios de pago</p>
          <br>
        </div>
        <div class="mdl-card__actions">
          <div class="mdl-typography--text-right" style="padding: 10px">
            <a [href]="['/main/contribuciones']">Continuar sin autenticarse</a>
          </div>
        </div>
      </div>

      <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
        <div class="mdl-card__title">
          <div class="tgr-grid">
            <div class="mdl-cell tgr-cell">
              <h3 class="mdl-card__title-text">
                <i class="material-icons">bookmarks</i>
                <span>Certificados</span>
              </h3>
            </div>
          </div>
        </div>
        <hr class="no-padding">
        <div class="mdl-card__supporting-text mdl-card--expand">
          <p>Obten tus certificados de deuda o de historial de pagos en formato digital</p>
        </div>
        <div class="mdl-card__actions">
          <div class="mdl-typography--text-right" style="padding: 10px">
            <a [href]="['/main/certificados']">Continuar sin autenticarse</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



