<div class="close-dialog">
  <a (click)="volver()">
    <i class="material-icons">close</i>
  </a>
</div>
<div class="dialog-body">
  <h4>¿Está seguro de realizar el pago?</h4>
</div>
<div class="dialog-footer">
      <button class="mdl-button button-default-link" (click)="volver()">Cancelar</button>
  <form ngForm= method="post" action="{{urlPagoTgr}}">
      <input type="hidden" name="listaContribuciones" value="{{cidUnico}}"/>
      <input type="hidden" name="CANAL" value="{{canalRecibido}}"/>
      <button mdl-button class="button-pay">Ir a Pagar</button>
  </form>
  <!--<button class="mdl-button button-default-link" (click)="volver()">Aceptar</button>-->
</div>
