<mdl-card class="mdl-cell mdl-cell--4-col mb-10 rol-card mdl-shadow--2dp">
  <mdl-card-title class="bar">
    <button id="helpTooltip{{rol.rol}}" placement="right" trigger="none" [tooltip]="HtmlContent" content-type="template"
            mdl-button class="helpTooltip-rol"
            mdl-button-type="icon" (click)="toggle()">
      <mdl-icon>{{expanded ? 'expand_less' : 'expand_more'}}</mdl-icon>
    </button>

    <ng-template #HtmlContent>
      <p>Revisa el detalle de tus deudas.</p>
    </ng-template>


    <div class="bar-text" (click)="toggle()">
      <h6>
        <i class="material-icons">{{icon}}</i>
        {{rol.destPropiedad | titlecase}} {{rol.sufijoDireccion}}
      </h6>
      <p class="el-rol">ROL {{rol.rolComunaSiiCod | leadingZero:3}}-{{rol.rolId | leadingZero:5}}-{{rol.subrolId |
        leadingZero:3}}
      </p>
    </div>
    <div class="mdl-layout-spacer"></div>
    
    <div class="wrapper">
      <span class="rol-total" [class.tgr-tr--late]="rol.expired" *ngIf="rol.total >= 0"
            (click)="toggle()">$ {{rol.total | number}}</span>
      <button class="mdl-button mdl-js-button mdl-button--icon pointer delete-this-rol" (click)="delete()">
        <i class="material-icons">cancel</i>
      </button>
    </div>
  </mdl-card-title>
  <!-- DEUDA NO LIQUIDABLE - INICIO -->
  <div class="mdl-card-title deuda-no-liquidable" *ngIf="noLiquidablebool">
    <i class="material-icons">warning</i>
    <div class="info">
      <p><strong>Este ROL posee deudas no liquidables.</strong></p>
      <p>Acércate a la oficina de TGR más cercana para regularizar.</p>
    </div>
  </div>
  <!-- DEUDA NO LIQUIDABLE - FIN -->
  <div [class.hidden]="!expanded">
    <div *ngIf="rol.cuotas.length > 0">
      <table class="mdl-data-table mdl-js-data-table">
        <thead>
        <tr>
          <th (click)="selectAllNone()">
            <mdl-icon>{{selectedIcon}}</mdl-icon>
          </th>
          <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
          <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
        </tr>
        </thead>
        <tbody *ngFor="let cuota of rol.cuotas">
          <div class="bloquear-click-td" *ngIf="cuota.cuoton3 == true || cuota.cuoton4 == true"></div>
          <tr [class.borde-cuota1]="cuota.cuoton1 == true && cuotaAnualCheck" [class.borde-cuota2]="cuota.cuoton2 == true && cuotaAnualCheck" [class.borde-cuota3]="cuota.cuoton3 == true && cuotaAnualCheck" [class.borde-cuota4]="cuota.cuoton4 == true && cuotaAnualCheck" [class.td-deshabilitado3]="cuota.cuoton3 == true" [class.td-deshabilitado4]="cuota.cuoton4 == true">
            <td (click)="checkCuota(rol, cuota)">
              <mdl-icon>{{cuota.intencionPago ? 'check_box' : 'check_box_outline_blank'}}</mdl-icon>
            </td>
            <td [class.tgr-tr--late]="cuota.expired">
              <span>{{cuota.liqTotal.nroCuota}}</span>
            </td>
            <td [class.tgr-tr--late]="cuota.isExpired()">{{cuota.fechaVcto | date:'dd/MMM'}}</td>
            <td [class.tgr-tr--late]="cuota.isExpired()">$ {{(rol.pagoTotal ? cuota.liqTotal.montoTotalTotal:cuota.liqTotal.montoTotalParcial) | number}}
            </td>
          </tr>
          <tr class="tgr-bloque-cuota-anual" *ngIf="cuota.cuoton4">
            <td (click)="checkCuoton(rol)">
              <mdl-icon>{{cuotaAnualCheck ? 'check_box' : 'check_box_outline_blank'}}</mdl-icon>
            </td>
            <td colspan="2">
              <span>
                Cuota Anual 2020
              </span>
              <span class="mdl-cell--hide-phone">
                El valor total de las primeras <br>cuotas se mantendrá <br>sin reajustar.
              </span>
            </td>
            <td class="monto-bloque">
              <span class="mdl-cell--hide-phone">Total Año</span>
              <span>$ {{calculaTotalCuoton(rol)|number}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tgr-row" *ngIf="rol.cuotas.length == 0 && (!noLiquidable || noLiquidable == undefined)">
      No registras deudas asociadas a este ROL
    </div>
  </div>
</mdl-card>
