@import '../../../../../../styles/colors';

.hidden {
  display: none;
}
.mdl-data-table {
  width: 100%;
}
.mdl-data-table td, .mdl-data-table th {
  text-align: center;
}
.tgr-tr--late {
  color: $color-danger;
}

mdl-icon.material-icons {
  color: #5F5FC4;
}
.bar .bar-text {
  cursor: pointer;
}
.tgr-row {
    padding: 10px 45px;
    text-align: center;
}
.mdl-button.mdl-button--icon:hover {
  background: #CFCFCF;
}
.mdl-button.mdl-button--icon:hover mdl-icon.material-icons {
  color: #5F5FC4;
}
.bar-text ~ .wrapper .mdl-button.mdl-button--icon:hover .material-icons {
  color: rgba(0, 0, 0, 0.3);
}
