@import '../../../../../../styles/colors';

.hidden {
  display: none;
}
.mdl-data-table {
  width: 100%;
}
.mdl-data-table td,
.mdl-data-table th, {
  text-align: center;
  &:nth-of-type(4) {
    padding-right: 26px;
    padding-left: 0;
    text-align: right;
  }
}

.monto-bloque {
  padding-right: 26px;
  padding-left: 0;
  text-align: right !important;
}

.tgr-tr--late {
  color: $color-expired;
}

mdl-icon.material-icons {
  color: #5F5FC4;
}

.bar {
  padding: 6px 6px 10px 6px;
  border-left: 5px solid #931c82;
  border-bottom: 1px solid #ddd;
  .mdl-button.mdl-button--icon {
    .material-icons {
      color: $color-dark-blue-text;
    }
    }
  .bar-text {
    cursor: pointer;
    h6 {
      font-size: 16px;
      color: $color-dark-blue-text;
      font-weight: 500;
      @media (max-width: 479px) {
        font-size: 14px;
      }
    }
    .el-rol {
      font-size: 16px;
      color: $color-contribuciones;
      font-weight: 400;
      @media (max-width: 479px) {
        font-size: 14px;
      }
    }
  }
  .wrapper {
    .delete-this-rol {
      .material-icons {
        color: rgba(0, 0, 0, .3);
      }
    }
    span {
      font-size: 16px;
      cursor: pointer;
      @media (max-width: 479px) {
        font-size: 14px;
      }
    }
  }
}

.mdl-data-table {
  thead {
    tr {
      th {
        color: $color-dark-gray;
        @media (min-width: 481px) {
          font-size: 14px;
        }
        mdl-icon {
          color: $color-dark-blue-text;
          vertical-align: middle;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        color: $color-dark-gray;
        @media (min-width: 481px) {
          font-size: 14px;
        }
        mdl-icon {
          color: $color-dark-blue-text;
          vertical-align: middle;
        }
        &.tgr-tr--late {
          color: $color-danger !important;
        }
      }
    }
  }
}

.tgr-cuoton-agrupacion {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 99%;
  border: 3px solid $button-primary-color;
  @media (max-width: 479px) {
    height: 244px;
  }
}

.borde-cuota1 {
  border-top: 3px solid $button-primary-color;
  border-left: 5px solid $button-primary-color;
  border-right: 5px solid $button-primary-color;
}
.borde-cuota3,
.borde-cuota2 {
  border-left: 5px solid $button-primary-color;
  border-right: 5px solid $button-primary-color;
}
.borde-cuota3 {
  background-color: #F6F6F6;
  td {
    color: #B5B5B5 !important;
    mdl-icon {
      color: #b5b5b5 !important;
    }
  }
}
.borde-cuota4 {
  background-color: #F6F6F6;
  border-left: 5px solid $button-primary-color;
  border-right: 5px solid $button-primary-color;
  border-bottom: 3px solid $button-primary-color;
  td {
    color: #B5B5B5 !important;
    mdl-icon {
      color: #b5b5b5 !important;
    }
  }
}

.bloquear-click-td {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.tgr-bloque-cuota-anual {
  background-color: $button-primary-color;
  border: 3px solid $button-primary-color;
  &:hover {
    background-color: $button-primary-color;
  }
  td {
    color: #ffffff !important;
    &:nth-of-type(2) {
      text-align: left;
      span:first-of-type {
        display: block;
        font-weight: 700;
        font-size: 14px;
        @media (min-width: 479px) {
          font-size: 16px;
        }
      }
    }
    &:nth-of-type(3) {
      span:first-of-type {
        display: block;
        text-align: right;
      }
      span:last-of-type {
        font-weight: 700;
        font-size: 14px;
        text-align: right;
        @media (min-width: 479px) {
          font-size: 16px;
        }
      }
    }
  }
}

.deuda-no-liquidable {
  display: flex;
  align-items: center;
  padding: 12px 6px 10px 16px;
  border-bottom: 1px solid #ddd;
  .material-icons {
    color: $color-warning-warmer;
  }
  .info {
    margin-left: 10px;
    p {
      margin-bottom: 0;
      strong {
        color: $color-warning-warmer;
      }
    }
  }
}

.tgr-row {
  border-top: 1px solid #dddddd;
  padding: 10px 45px;
  text-align: center;
}

.mdl-button.mdl-button--icon:hover {
  background: #CFCFCF;
}
.mdl-button.mdl-button--icon:hover mdl-icon.material-icons {
  color: #5F5FC4;
}
.bar-text ~ .wrapper .mdl-button.mdl-button--icon:hover .material-icons {
  color: rgba(0, 0, 0, 0.3);
}

.rol-total {
  font-size: 14px;
}
