<mdl-card mdl-shadow="2" class="mdl-cell mdl-cell--4-col mb-10 rol-card">
  <mdl-card-title class="bar">
    <button mdl-button mdl-button-type="icon" (click)="toggle()">
      <mdl-icon>{{expanded ? 'expand_less' : 'expand_more'}}</mdl-icon>
    </button>

    <div class="bar-text" (click)="toggle()">
      <h6>
        <i class="material-icons">{{icon}}</i>
        <strong>{{rol.destPropiedad | titlecase}} {{rol.sufijoDireccion}}</strong>
      </h6>
      <p class="el-rol">ROL {{rol.rolComunaSiiCod | leadingZero:3}}-{{rol.rolId | leadingZero:5}}-{{rol.subrolId |
        leadingZero:3}}</p>
    </div>
    <div class="mdl-layout-spacer"></div>
    <div class="wrapper">
      <span class="rol-total" *ngIf="rol.total >= 0" (click)="toggle()">$ {{rol.total | number}}</span>
      <button class="mdl-button mdl-js-button mdl-button--icon pointer delete-this-rol" (click)="delete()">
        <i class="material-icons">close</i>
      </button>
    </div>
  </mdl-card-title>
  <div [class.hidden]="!expanded">
    <div *ngIf="rol.cuotas.length > 0">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
          <th (click)="selectAllNone()">
            <mdl-icon>{{selectedIcon}}</mdl-icon>
          </th>
          <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
          <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
          <th class="tgr-monto">Monto</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cuota of rol.cuotas" (click)="checkCuota(cuota)">
          <td>
            <mdl-icon>{{cuota.intencionPago ? 'check_box' : 'check_box_outline_blank'}}</mdl-icon>
          </td>
          <td [class.tgr-tr--late]="cuota.isExpired()">
            <span>{{cuota.numeroCuota}}</span>
          </td>
          <td [class.tgr-tr--late]="cuota.isExpired()">{{cuota.fechaVencimiento | date:'dd/MMM'}}</td>
          <td [class.tgr-tr--late]="cuota.isExpired()">$ {{(selectedIcon === icons.SELECTED ? cuota.liqTotal.saldoTotal
            :
            cuota.liqParcial.saldoTotal) | number}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="tgr-row" *ngIf="rol.cuotas.length == 0">
      No registras deudas asociadas a este ROL
    </div>
  </div>
</mdl-card>
