@import '../../../../../../styles/colors';

.hidden {
  display: none;
}
.mdl-data-table {
  width: 100%;
}
.mdl-data-table td, .mdl-data-table th {
  text-align: center;
}
.tgr-tr--late {
  color: $color-expired;
}

mdl-icon.material-icons {
  color: #5F5FC4;
}

.bar {
  padding: 6px 6px 10px 6px;
  border-left: 5px solid #931c82;
  border-bottom: 1px solid #ddd;
  .mdl-button.mdl-button--icon {
    .material-icons {
      color: $color-dark-blue-text;
    }
    }
  .bar-text {
    cursor: pointer;
    h6 {
      font-size: 16px;
      color: $color-dark-blue-text;
      font-weight: 500;
    }
    .el-rol {
      font-size: 16px;
      color: $color-contribuciones;
      font-weight: 400;
    }
  }
  .wrapper {
    .delete-this-rol {
      .material-icons {
        color: rgba(0, 0, 0, .3);
      }
    }
    span {
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.tgr-row {
  border-top: 1px solid #dddddd;
  padding: 10px 45px;
  text-align: center;
}

.mdl-button.mdl-button--icon:hover {
  background: #CFCFCF;
}
.mdl-button.mdl-button--icon:hover mdl-icon.material-icons {
  color: #5F5FC4;
}
.bar-text ~ .wrapper .mdl-button.mdl-button--icon:hover .material-icons {
  color: rgba(0, 0, 0, 0.3);
}

.rol-total {
  font-size: 14px;
}
