<div class="close-dialog">
  <a (click)="volver()">
    <i class="material-icons">close</i>
  </a>
</div>
<div class="dialog-body">
  <h4>¿Cómo buscar por <strong>Dirección</strong>?</h4>
  <p>En el campo "Dirección", comienza ingresando la calle, pasaje o avenida seguido por la numeración y la comuna correspondiente,<br>
  <span class="text-primary">Ejemplo: Portugal 2046, santiago</span>
  </p>
  <p>Para buscar un departamento, bodega o estacionamiento, agrega la numeración correspondiente al final de la dirección,<br>
  <span class="text-primary">Ejemplo: Lira 297 1107, santiago</span>
  </p>
</div>
<div class="dialog-footer">
  <button class="mdl-button button-default-link" (click)="volver()">Entendido</button>
</div>