<div class="close-dialog">
  <a (click)="volver()">
    <i class="material-icons">close</i>
  </a>
</div>
<div class="dialog-body">
  <h4>¿Cómo buscar por <strong>Dirección</strong>?</h4>
  <p>En el campo "Dirección", comienza ingresando el nombre de la calle, pasaje o avenida seguido por la numeración y la comuna correspondiente,<br>
    Ejemplo: <span class="text-primary">Portugal 2046, santiago</span>
  </p>
  <p>Para buscar un departamento, bodega o estacionamiento, agrega la numeración correspondiente al final de la dirección,<br>
    Ejemplo: <span class="text-primary">Lira 297 1107, santiago</span>
  </p>
  <p>Si no encuentra su dirección, revise el Boletín de Pago enviado por SII - TGR.
  </p>
  <div class="column has-text-centered hidden">
    <div class="img-row" *ngFor="let image of albums; let i=index">
      <img class="img-frame" [src]="image.thumb" (click)="open(i)"/>
    </div>
  </div>
</div>
<div class="dialog-footer">
  <button class="mdl-button button-default-link" (click)="volver()">Entendido</button>
</div>
