<div class="tgr-confirmation">
  <div class="mdl-card tgr-confirmation-card mdl-shadow--2dp">
    <i class="material-icons">email</i>
    <h1 class="tgr-confirmation__title">Revisa tu correo electrónico</h1>
    <p>Se enviarán los certificados a la dirección de correo electrónico:</p>
    <p class="tgr-confirmation__subtitle">correo.ingresado@dominio.com</p>
    <p>Esta operación podría demorar unos minutos</p>
    <div class="tgr-confirmation__footer">                
      <div class="tgr-confirmation__footer-link">
        <a href="#">Volver a la página de selección de propriedades</a>  
      </div>      
    </div>
  </div>
</div>
