@import '../../../../styles/colors';

.tgr-confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 70px); 
  @media (max-width: 450px) {
    padding-left: 16px;
    padding-right: 16px;
  } 
}
.tgr-confirmation-card {
  color: $gray-text;
  flex: 1;
  max-width: 50%; 
  padding: 40px;
  text-align: center;
  @media (max-width: 800px) {
    max-width: 80%; 
  }
  @media (max-width: 450px) {
    max-width: none; 
  }
}
.tgr-confirmation  .material-icons {
  color: $primary-color;
  font-size: 40px;
}
.tgr-confirmation__title {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 20px 0;
}
.tgr-confirmation p {
  margin: 0;
}
.tgr-confirmation__subtitle {
  color: $primary-color;
  font-size: 18px;
  margin: 0;
  padding: 16px;
}
.tgr-confirmation__footer-link {
  font-size: 16px;
  padding-top: 56px;
  text-align: left;
}
a {
  color: $primary-color;
  font-weight: 400;
  text-decoration: none;
}
.tgr-confirmation__footer-link a {  
  text-decoration: none;
  color: $link-color;
}
