<div *ngIf="!cargaFinalizada" class="tgr-loading" xmlns="http://www.w3.org/1999/html">
  <figure>
    <img class="tgr-star" src="../../../../../assets/estrella.png" alt="">
    <img class="tgr-tgr" src="../../../../../assets/tgr.png" alt="">
    <mdl-spinner single-color active></mdl-spinner>
    <figcaption>Cargando información de certificados...</figcaption>
  </figure>
</div>
<div class="container" *ngIf="cargaFinalizada">
  <div class="row header-pag">
    <div class="col-xs-8 col-sm-4">
      <mdl-icon (click)="volver()" style="cursor: pointer">
        <img src="../../../../../assets/TGR_logo_nuevo_h.svg" alt="Volver a la página de inicio TGR"
             class="header-logo">
      </mdl-icon>
    </div>
    <div class="col-xs-4 menu-icon">
      <mdl-icon (click)="print()" style="cursor: pointer" >
        <i class="material-icons">print</i>
      </mdl-icon>
    </div>
  </div>

  <div *ngFor="let c of certificados">
    <app-certificado-deuda *ngIf="c.deuda" [info]="c.deuda"></app-certificado-deuda>
    <app-historial-pago *ngIf="c.pago" [info]="c.pago"></app-historial-pago>
  </div>
</div>
