<header>
  <mz-navbar>
    <a href="#" class="brand-logo">&nbsp;TGR</a>
    <mz-navbar-item-container>
      <mz-navbar-item><a routerLink="/contribuciones">Contribuciones</a></mz-navbar-item>
      <mz-navbar-item><a routerLink="/certificados">Certificados</a></mz-navbar-item>
    </mz-navbar-item-container>
    <mz-navbar-item-container align="right">
      <mz-navbar-item><a href="#">
        <!--i mz-icon-mdi
           icon="puzzle"
        size="tiny">
        </i--> Cuenta
      </a></mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
</header>
<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer>
</footer>
