<header class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">TGR</a>
      <ul id="nav-mobile1" class="left hide-on-med-and-down">
        <li><a routerLink="/contribuciones">Contribuciones</a></li>
        <li><a routerLink="/certificados">Certificados</a></li>
      </ul>
      <ul id="nav-mobile2" class="right hide-on-med-and-down">
        <li>
          <a href="#">
            <span>
              <i class="material-icons">account_circle</i>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer>
</footer>
