@import '../../../../../../../../styles/colors';
.tgr-dialog {
    padding-top: 18px;
    .tgr-dialog__body {
        margin-bottom: 24px;
        p {
            font-size: 16px;
            color: $color-dark-gray;
        }
    }
    .tgr-dialog__options {
        @media (max-width: 365px) {
            display: flex;
            flex-direction: column-reverse;
        }
        @media (min-width: 366px) {
            display: flex;
            justify-content: space-evenly;
        }
        button:last-of-type {
            @media (max-width: 365px) {
                margin-bottom: 14px;
            } 
        }
    }
}