<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col-phone mdl-cell--4-col-desktop m-0auto text-center p-relative">
    <div class="alert-new-rol" [class.hidden]="ocultarAlertaSugeridas || rolesSugeridos < 1">
      <i mdl-button (click)="ocultarAlertaSugeridas = true" class="material-icons alert-remove">clear</i>
      <p>Encontramos nuevas propiedades disponibles para pago asociadas a tu RUT</p>
    </div>
    <div [class.hidden]="rolesSugeridos < 1" class="notifications">
      <div (click)="gotoSugeridas()">
        <mdl-icon [mdl-badge]="rolesSugeridos" mdl-badge-overlap>notifications</mdl-icon>
      </div>
    </div>
  </div>
</div>
<app-linea-tiempo [seleccionar]="propiedades.length > 0 " [doneBuscar]="propiedades.length > 0 "></app-linea-tiempo>
<div class="tgr-container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col m-0auto pay-title sel-cuotas-title">
      <h5 class="title text-center text-mont">Seleccionar Mis <strong>Deudas</strong></h5>
    </div>
  </div>
</div>

<div class="mdl-grid" *ngIf="propiedades.length > 0; else bodySinDeuda">
  <div class="mdl-cell mdl-cell--8-col select-fee">
    <div *ngIf="complete">
      <!-- <div class="tgr-select" *ngIf="!existeVencidas" (click)="seleccionarTodas()">
        <mdl-icon>{{selectedIcon}}</mdl-icon>
        Seleccionar <strong>TODAS</strong> las deudas
      </div> -->
      <div class="mdl-button-group" *ngIf="existeVencidas">
        <p>¿Qué deudas quieres pagar?</p>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                [class.active]="seleccionada == tipo.TODAS" (click)="seleccionar(tipo.TODAS)">
          Todas
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                [class.active]="seleccionada == tipo.NINGUNA" (click)="seleccionar(tipo.NINGUNA)">
          Ninguna
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                [class.active]="seleccionada == tipo.VENCIDAS" (click)="seleccionar(tipo.VENCIDAS)">
          Vencidas
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                [class.active]="seleccionada == tipo.NO_VENCIDAS" (click)="seleccionar(tipo.NO_VENCIDAS)">
          No Vencidas
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #bodySinDeuda>
  <div class="tgr-container">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col m-0auto pay-title sel-cuotas-subtitle">
        <p>Actualmente no tienes propiedades ni deudas en tu carro. Te invitamos a buscar y agregar propiedades para
          pagar.</p>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="tgr-actions__content">
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                [routerLink]="['/main/contribuciones/agregar/nueva']">
          <i class="material-icons">add</i>
          Agregar propiedades
        </button>
      </div>
    </div>
  </div>

</ng-template>

<div class="mdl-grid" *ngFor="let propiedad of propiedades">
  <div class="mdl-cell mdl-cell--6-col m-0auto rol-card"
       *ngIf="propiedad.roles.length > 0">
    <app-direccion-cuotas (change)="onChange()" [propiedad]="propiedad"></app-direccion-cuotas>
  </div>
</div>

<div class="mdl-grid" *ngIf="propiedades.length > 0">
  <div class="mdl-cell mdl-cell--5-col total-buy">
    <p *ngIf="complete" class="monto-total">
      Total Deuda Contribuciones:
      <br><strong>$ {{total | number}}</strong>
    </p>
    <div class="tgr-condonacion" *ngIf="condonacion > 0">
      <p class="monto-condonacion">
        <!-- El pago de las deudas ha generado una condonación de <strong>$ {{condonacion | number}}</strong>, incluída en el
        monto total a pagar. -->
        Al pagar cada cuota vencida se aplica una condonación, cuyo total es de <strong>$ {{condonacion | number}}</strong>, y se incluye en el monto total a pagar.
      </p>
      <button type="button" class="mdl-button mdl-js-button mdl-button--raised ayuda-condonacion"
              (click)="dialogAyudaCondonacion()">
        <i class="material-icons">help</i>
        ¿Qué es la <strong>Condonación</strong>?
      </button>
    </div>
  </div>
</div>


<div class="tgr-actions tgr-mini-footer" *ngIf="propiedades.length > 0; else footeractions">
  <div *ngIf="!complete" class="tgr-loading2">
    <mdl-spinner single-color active></mdl-spinner>
    <p>Estamos calculando tu monto a pagar</p>
  </div>
  <div *ngIf="complete" class="tgr-actions__content">
    <button mdl-button (click)="openDialogResumen()" [disabled]="total <= 0">
      <mdl-icon [mdl-badge]="cantidadSeleccionadas" mdl-badge-overlap class="mdl-28 pointer shopping-cart">view_list
      </mdl-icon>
    </button>
    <div class="mdl-layout-spacer"></div>
    <app-boton-pagar [codigos]="listaContribuciones" [total]="total"></app-boton-pagar>
    <p class="cantidad-deudas-seleccionadas"><strong>{{result.seleccionadas}}</strong> de {{result.total}} deudas
      seleccionadas</p>
  </div>
</div>

<ng-template #footeractions>
  <div class="tgr-actions tgr-mini-footer">
    <p>No hay deudas seleccionadas para pagar</p>
  </div>
</ng-template>

<div class="tgr-add" *ngIf="propiedades.length > 0">
  <div class="tgr-target-wrapper">
    <div class="tgr-target-wave tgr-target-wave--button">
      <button mdl-button mdl-button-type="fab" mdl-colored="accent" class="new-rol"
              [routerLink]="['/main/contribuciones/agregar/nueva']">
        <mdl-icon>add</mdl-icon>
      </button>
    </div>
  </div>
</div>
