<div [class.hidden]="ocultarAlertaSugeridas || rolesSugeridos < 1">
  Encontramos nuevas propiedades disponibles para pago asociadas a tu RUT
</div>
<div [class.hidden]="rolesSugeridos < 1">
  <button mdl-button mdl-button-type="icon" (click)="gotoSugeridas()">
    <mdl-icon [mdl-badge]="rolesSugeridos" mdl-badge-overlap>notifications</mdl-icon>
  </button>
</div>

<h1>Pagar Mis Contribuciones</h1>
<div class="tgr-select tgr-select--buttons">
  <div class="tgr-select__label">
    Selecciona las cuotas que pagarás
  </div>
  <ul class="filter">
    <li [class.active]="seleccionada === tipo.TODAS">
      <a (click)="seleccionar(tipo.TODAS)">
        <mdl-icon *ngIf="seleccionada === tipo.TODAS">done</mdl-icon>
        Todas
      </a>
    </li>
    <li [class.active]="seleccionada === tipo.VENCIDAS">
      <a (click)="seleccionar(tipo.VENCIDAS)">
        <mdl-icon *ngIf="seleccionada === tipo.VENCIDAS">done</mdl-icon>
        Vencidas
      </a>
    </li>
  </ul>
</div>
<div *ngFor="let propiedad of propiedades">
  <app-direccion-cuotas (change)="onChange()" [propiedad]="propiedad"></app-direccion-cuotas>
</div>

<div>
  <p>Subtotal: </p>
  <p>Condonación: </p>
  <p>Total: {{total | number}}</p>
</div>

<div class="tgr-actions">
  <div *ngIf="!complete">
    <mdl-spinner [active]="true"></mdl-spinner>
    <p>Estamos calculando tu monto a pagar</p>
  </div>
  <div *ngIf="complete" class="tgr-actions__content">
    <div>
      <button mdl-button mdl-button-type="icon" (click)="summary()">
        <mdl-icon>close</mdl-icon>
      </button>
    </div>
    <div>
      $ {{total | number}}
    </div>
    <div class="tgr-pay">
      <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
              (click)="pay()">Pagar
      </button>
    </div>
  </div>
</div>


<div class="tgr-add">
  <div class="tgr-target-wrapper">
    <div class="tgr-target-wave tgr-target-wave--button">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
              [routerLink]="['propiedades/sugeridas']">
        <i class="material-icons">add</i>
      </button>
    </div>
  </div>
</div>

<app-detalle-pago #detallePago></app-detalle-pago>
