@import '../../../../../styles/colors';

.alert-new-rol {
  background-color: $color-warning;
  color: $color-white;
  padding: 10px 15px;
  border-radius: 2px;
  position: relative;
  p {
    margin: 0;
    line-height: 20px;
  }
  i.alert-remove {
    position: absolute;
    top: 3px;
    right: 4px;
    font-size: 18px;
    opacity: .5;
    cursor: pointer;
  }
}

.notifications {
    position: absolute;
    top: 11px;
    right: -50px;
    color: $color-default-dark;
    .mdl-badge[data-badge]:after {
        background-color: $color-warning;
    }
}
.select-fee p {   
  font-size: 16px;
  color: rgba(0,0,0,.54);
  margin-bottom: 0;
  text-align: center;
}

.filter {
  margin-top: 4px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 0;
  text-align: center;
}

.filter li {
  display: inline-block;
  float: none;
  height: inherit;
  line-height: 30px;
  margin-right: 10px;
  margin-top: 0;
  position: relative;
}

.filter .material-icons {
  color: #fff;
  display: none;
  line-height: 1;
}

.filter a {
  background: $color-light;
  border-radius: 32px;
  border: 1px solid $color-filter;
  color: $color-80;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 0 15px;
  text-decoration: none;
  transition: background-color .3s;
}

.filter .active .material-icons {
  display: inline-block;
  float: left;
  font-size: 20px;
  padding-top: 4px;
  font-weight: bold;
  padding-right: 3px;
}

.filter .active a {
  background: $color-filter;
  color: #fff;
  padding-left: 10px;
}
.tgr-loading2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding-top: 10px;
}
.mdl-button {
  overflow: visible;
}

.drawer-shopping-cart { 
    padding-bottom: 70px;
        > .mdl-layout-title {
        line-height: 56px;
        text-align: center;
        padding-right: 16px;
        margin-left: 15px;
    }
    .sub-title {
      color: $gray-87;
        font-size: 16px;
        margin-left: 15px;
        margin-top: 30px;
        text-align: center;
    }
    table {
        th {
            width: 25%;
            text-align: left;
            padding-left: 24px;
            &:last-of-type {
                text-align: right;
            }
            @media (max-width: 500px) {
              padding-left: 4px;
            }
        }
        td {
            width: 25%;
            text-align: left;
            padding-left: 24px;
            &:last-of-type {
                text-align: right;
            }
            @media (max-width: 500px) {
              padding-left: 4px;
            }
        }

    }
  .tgr-dialog__actions {
    text-align: center;
  }
}
.mdl-dialog__content {
  @media (max-width: 500px) {
    padding: 10px 0 24px 0;
  }
}
.mdl-dialog__content .tgr-propiedad:first-child .sub-title {
  margin-top: 0;
}

@media (min-width: 481px) {
    .drawer-shopping-cart {
        table {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
