<div class="mdl-grid p-relative" [class.hidden]="rolesSugeridos < 1"> <!-- [class.hidden]="rolesSugeridos < 1" -->
  <div class="mdl-cell mdl-cell--12-col text-center suggested" [class.mt-20]="rolesSugeridos >= 1"> <!-- [class.mt-20]="rolesSugeridos >= 1" -->
    <div class="alert-new-rol" [class.hidden]="ocultarAlertaSugeridas || rolesSugeridos < 1"> <!-- [class.hidden]="ocultarAlertaSugeridas || rolesSugeridos < 1" -->
      <i mdl-button (click)="ocultarAlertaSugeridas = true" class="material-icons alert-remove">clear</i>
      <p>Encontramos nuevas propiedades disponibles para pago asociadas a tu RUT</p>
    </div>
  </div>
  <div class="notifications p-absolute" [class.hidden]="rolesSugeridos < 1" [class.mt-10]="rolesSugeridos >= 1"> <!-- [class.hidden]="rolesSugeridos < 1" [class.mt-10]="rolesSugeridos >= 1" -->
    <div (click)="gotoSugeridas()">
      <mdl-icon [mdl-badge]="rolesSugeridos" mdl-badge-overlap>notifications</mdl-icon>
    </div>
  </div>
</div>
<!--<app-linea-tiempo [seleccionar]="propiedades.length > 0 " [doneBuscar]="propiedades.length > 0 "></app-linea-tiempo>-->
<div class="text-center m-lr-auto">
  <h2 class="tgr-page_title inside-card text-center text-mont">Seleccionar <strong>Mis Deudas</strong></h2>
</div>

<div class="mdl-grid" *ngIf="propiedades.length > 0; else bodySinDeuda">
  <div class="mdl-cell mdl-cell--12-col select-fee">
    <div *ngIf="complete && result.total > 0">
      <div class="check-seleccion-deudas no-vencidas" *ngIf="!existeVencidas" (click)="seleccionarTodas()">
        <mdl-icon>{{selectedIcon}}</mdl-icon>
        <span>Seleccionar <strong>TODAS</strong> las deudas</span>
      </div>

      <div class="check-seleccion-deudas vencidas" *ngIf="existeSoloVencidas" (click)="seleccionarTodasVencidas()">
        <mdl-icon>{{selectedIcon}}</mdl-icon>
        <span>Seleccionar <strong>TODAS</strong> las deudas</span>
      </div>

      <div class="mdl-button-group" *ngIf="existeVencidas && !existeSoloVencidas">
        <p>¿Qué deudas quieres pagar?</p>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                [class.active]="seleccionada == tipo.TODAS" (click)="seleccionar(tipo.TODAS)">
          Todas
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                [class.active]="seleccionada == tipo.NINGUNA" (click)="seleccionar(tipo.NINGUNA)">
          Ninguna
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                [class.active]="seleccionada == tipo.VENCIDAS" (click)="seleccionar(tipo.VENCIDAS)">
          Vencidas
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                [class.active]="seleccionada == tipo.NO_VENCIDAS" (click)="seleccionar(tipo.NO_VENCIDAS)">
          No Vencidas
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #bodySinDeuda>

  <div class="pb-25" *ngIf="!obteniendoDatos">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col m-lr-auto pay-title sel-cuotas-subtitle">
        <p>Actualmente no tienes deudas ni propiedades guardadas. Te invitamos a buscar y agregar propiedades para
          pagar.</p>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="tgr-actions__content">
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                [routerLink]="['/centropago/contribuciones/agregar/nueva']">
          <i class="material-icons">add</i>
          Agregar propiedades
        </button>
      </div>
    </div>
  </div>

</ng-template>

<div class="mdl-grid" *ngFor="let propiedad of propiedades">
  <div class="mdl-cell mdl-cell--12-col m-lr-auto rol-card"
       *ngIf="propiedad.roles.length > 0">
    <app-direccion-cuotas (change)="onChange()" [propiedad]="propiedad"></app-direccion-cuotas>
  </div>
</div>

<div class="mdl-grid" *ngIf="propiedades.length > 0">
  <div class="mdl-cell mdl-cell--12-col total-buy">

    <p *ngIf="existeVencidas" class="monto-total texto">
      Monto total :
    </p>
    <p *ngIf="existeVencidas" class="monto-total monto">
      <strong>$ {{total + condonacion | number}}</strong>
    </p>

    <div *ngIf="condonacion > 0">
      <p class="monto-total texto monto-condonacion">
        Monto beneficio condonación :
      </p>
      <p class="monto-total monto monto-condonacion">
        <strong>$ {{condonacion | number}}</strong>
      </p>
    </div>

    <div *ngIf="existeVencidas" class="gray-border"></div>
    <p *ngIf="complete" class="monto-total texto">
      Monto total a pagar :
    </p>
    <p *ngIf="complete" class="monto-total monto">
      <strong>$ {{total | number}}</strong>
    </p>

    <p *ngIf="existeVencidas && (result.vencidas != result.vencidasSeleccionadas)" class="monto-total beneficio">
      Al pagar cuotas vencidas ya estás accediendo al beneficio de Condonación. Selecciona <strong>todas las cuotas
      vencidas de un ROL</strong> para conseguir un mayor beneficio a través de la Condonación por Pago Total.
    </p>

    <div class="tgr-condonacion" *ngIf="existeVencidas">
      <button type="button" class="mdl-button mdl-js-button mdl-button--raised ayuda-condonacion"
              (click)="dialogAyudaCondonacion()">
        <!--<i class="material-icons">help</i>-->
        ¿Qué es el beneficio de <strong>Condonación</strong>?
      </button>
    </div>
  </div>
</div>


<div class="tgr-actions tgr-mini-footer" *ngIf="propiedades.length > 0; else footeractions">
  <div *ngIf="!complete" class="tgr-loading2">
    <mdl-spinner single-color active></mdl-spinner>
    <p>Estamos calculando tu monto a pagar</p>
  </div>
  <div *ngIf="complete" class="tgr-actions__content">
    <button class="button-resumen" mdl-button (click)="openDialogResumen()" [disabled]="total <= 0">
      <mdl-icon [mdl-badge]="cantidadSeleccionadas" mdl-badge-overlap class="mdl-28 pointer shopping-cart">view_list
      </mdl-icon>
    </button>
    <div class="mdl-layout-spacer"></div>
    <app-boton-pagar [codigos]="listaContribuciones" [total]="total"></app-boton-pagar>
    <p class="cantidad-deudas-seleccionadas"><span><strong>{{result.seleccionadas}}</strong></span>
      de {{result.total}} deudas
      seleccionadas</p>
  </div>
</div>

<ng-template #footeractions>
  <div *ngIf="!obteniendoDatos" class="tgr-actions tgr-mini-footer">
    <p class="sin-deudas">No hay deudas seleccionadas para pagar</p>
  </div>


  <div *ngIf="obteniendoDatos" class="tgr-actions tgr-mini-footer">
    <div class="tgr-loading2">
      <mdl-spinner single-color active></mdl-spinner>
      <p class="sin-deudas">Obteniendo Datos</p>
    </div>
  </div>
</ng-template>

<div class="tgr-add" *ngIf="propiedades.length > 0">
  <div class="tgr-target-wrapper">
    <div class="tgr-target-wave tgr-target-wave--button">
      <button id="helpTooltip-buttonAdd" placement="left" trigger="none" [tooltip]="HtmlContent" content-type="template"
              mdl-button mdl-button-type="fab" mdl-colored="accent" class="new-rol"
              [routerLink]="['/centropago/contribuciones/agregar/nueva']">
        <mdl-icon>add</mdl-icon>
      </button>
      <ng-template #HtmlContent>
        <p>Busca y agrega nuevas propiedades.</p>
      </ng-template>
    </div>
  </div>
</div>
