<div class="tgr-container ">
  <div class="tgr-loading ->>hidden" [class.hidden]="hidden">
    <figure>
      <img class="tgr-star" src="../../../../assets/estrella.png" alt="">
      <img class="tgr-tgr" src="../../../../assets/tgr.png" alt="">
      <figcaption>Buscando información de roles sugeridos</figcaption>
    </figure>
  </div>

  <div class="tgr-results">
    <div app-sugeridas-propiedad *ngFor="let propiedad of propiedades" [propiedad]="propiedad"
         (change)="updateSeleccionadaTotal()" appMdlInit class="tgr-content mdl-shadow--3dp">
    </div>
  </div>

  <div class="tgr-actions">
    <div class="tgr-actions__content">
      <!--<div class="tgr-white">
        <div class="tgr-cell-wait">
          <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active">
          </div>
          <h5 class="tgr-cell-wait__feedback"></h5>
        </div>
      </div>-->
      <div class="tgr-pay">
        <button *ngIf="cantidadSeleccionadas && cantidadSeleccionadas != 0; else seleccionUno" type="button"
                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="agregarPropiedad()">
          <span *ngIf="cantidadSeleccionadas > 1; else uno" >Agregar {{cantidadSeleccionadas}} propiedades</span>
          <ng-template #uno>Agregar {{cantidadSeleccionadas}} propiedad</ng-template>
        </button>
        <ng-template #seleccionUno>
          <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" disabled>
            Seleccione al menos un rol
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
