<div class="tgr-section-grid" (resize)="resizeAllGridItems()">
  <div class="tgr-section-title">
    <div class="tgr-section-title--address">{{propiedad.direccion}} -
      <small>{{propiedad.rol[0].comuna}}</small>
      ({{tipos}})
    </div>
    <div class="tgr-total">$ {{total | number}}</div>
  </div>
  <div class="grid tgr-card-container" #grid>
    <app-listado-propiedad-rol
      class="tgr-rol"
      *ngFor="let rol of propiedad.rol"
      [rol]="rol"
      (resize)="resizeAllGridItems()"
      (change)="updateTipoTotal()">
    </app-listado-propiedad-rol>
  </div>
</div>
