@import "../listado.component";
.hide{
  display: none;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(376px,1fr));
  grid-auto-rows: 0;
  @media (max-width: 408px){
  	grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
  }
}
