@import "../../contribuciones/agregar/sugeridas/sugeridas.component";
.tgr-card__body {
  padding: 0;
}

.material-icons {
  color: #5F5FC4;
  float: left;
  line-height: 1;
  margin-right: 4px;
  margin-top: -6px;
  margin-bottom: -6px;
}

.tgr-th-icon {
  top: 0px;
}
