@import "../../contribuciones/agregar/sugeridas/sugeridas.component";
.tgr-card__body {
  padding: 0;
}

.tgr-card__head {
  .tgr-th-icon {
    .material-icons {
      line-height: 1.5;
      color: #2f3c89;
      float: left;
      margin-right: 4px;
      margin-top: -6px;
      margin-bottom: -6px;
    }
  }
  .tgr-card__title--text {
    line-height: 20px;
  }
}

.tgr-card__body {
  .tgr-rol-row {
    .tgr-th-icon {
      .material-icons {
        color: #2f3c89;
        float: left;
        line-height: 0 !important;
        margin-right: 4px;
        margin-top: -6px;
        margin-bottom: -6px;
      }
    }
  }
}

.tgr-th-icon {
  top: -2px;
}
label.tgr-th-icon{
  float: left;
}
