<div class="tgr-card__head" *ngIf="propiedad.roles.length > 0">
  <label (click)="selectAllRol()" class="tgr-th-icon">
    <mdl-icon>{{selectedIcon}}</mdl-icon>
  </label>
  <p class="tgr-card__title--text">{{propiedad.splitName()  | titlecase}} </p>
  <p class="tgr-card__title--comuna">{{propiedad.roles[0].comuna | titlecase}} </p>
</div>
<div class="tgr-card__body">
  <div class="tgr-rol-row" app-propiedad-rol *ngFor="let rol of propiedad.roles"
       [rol]="rol"
       (change)="updatePropiedades()">
  </div>
</div>
