<div class="content">
  <div class="tgr-cell-wait">
    <div class="mdl-spinner mdl-js-spinner is-active">
    </div>
    <h5 class="tgr-cell-wait__feedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
  </div>
  <button
    class="tgr-button-delete mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
    <i class="material-icons">delete</i>
  </button>
  <div class="tgr-card__head">
    <div class="tgr-card__header">
      <div class="tgr-price">
        <span class="tgr-price__cost">$15.000</span>
      </div>
      <p class="tgr-card__title">
        <i class="material-icons">directions_car</i>
        <span class="tgr-card__title--text">
                     {{rol.destPropiedad | titlecase}}
                   </span>
    </div>
    <div class="tgr-price">
      <p class="tgr-price__desc">
        <span class="tgr-card__desc--tag">Dscto:</span><br>
        <span class="tgr-card__desc--price">-$4.000</span>
      </p>
    </div>
    <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol:</span> {{rol.rolComunaSiiCod | leadingZero:3}}-{{rol.rolId |
      leadingZero:5}}-{{rol.subrolId | leadingZero:3}}</p>
    <div class="tgr-section-desc" *ngIf="rol.isShowMsgCuotasVencidas()">
      <div class="tgr-section-desc--text">
        Se hará un descuento mayor mientras más cuotas atrasadas se paguen
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="rol.clickHideMsgCuotasVencidas()">ok</button>
    </div>
  </div>


  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
      <a href="#a{{year}}-panel" class="mdl-tabs__tab" [class.is-active]="i === 0" *ngFor="let year of rol.getYaers(); let i = index;">{{year}}</a>
    </div>

    <div class="mdl-tabs__panel " [class.is-active]="i === 0" id="a{{year}}-panel"  *ngFor="let year of rol.getYaers(); let i = index;">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
          <th (click)="rol.clickCheckedAll(year)">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select"
                   [class.is-checked]="rol.isCheckedAllCuotasForYear(year)"
                   for="table-header-{{year}}-{{rol.rol}}">
              <input type="checkbox" id="table-header-{{year}}-{{rol.rol}}" class="mdl-checkbox__input"
                     [attr.checked]="rol.isCheckedAllCuotasForYear(year)"/>
            </label>
          </th>
          <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota {{rol.isCheckedAllCuotasForYear(year)}}
          </th>
          <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
          <th class="tgr-monto">Monto</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cuota of rol.getCuotas(year); let j = index;" [class.tgr-tr--late]="cuota.isVencida()"
            (click)="cuota.clickChecked()">
          <td>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect "
                   [class.is-checked]="cuota.isChecked()" for="{{year}}-{{rol.rol}}-{{j}}">
              <input type="checkbox" id="{{year}}-{{rol.rol}}-{{j}}" class="mdl-checkbox__input"
                     [attr.checked]="cuota.isChecked()"/>
            </label>
          </td>
          <td class="mdl-data-table__cell--non-numeric">{{cuota.numeroCuota | slice:0:1}} {{cuota.isChecked()}}
          </td>
          <td class="mdl-data-table__cell--non-numeric">{{cuota.fechaVencimiento | date:'dd/MMM'}}</td>
          <td>$15.000</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
