<div class="content tgr-content selected">
  <div class="tgr-cell-wait">
    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active">
    </div>
    <h5 class="tgr-cell-wait__feedback">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
  </div>
  <div class="tgr-cell-delete">
    <div class="tgr-cell-delete--selector">
        <i class="material-icons tgr-unselect">check_circle</i>
        <i class="material-icons tgr-select">brightness_1</i>        
      </div>    
    <h5 class="tgr-delete-link tgr-select">Eliminar este ROL</h5>
    <h5 class="tgr-delete-link tgr-unselect">Seleccionado para eliminar</h5>
    <div class="tge-cell-delete__actions">
      <button class="mdl-button mdl-js-button mdl-button--primary">
        Cancelar
      </button>
      <button class="mdl-button mdl-js-button mdl-button--accent tgr-select">
        Seleccionar
      </button>
      <button class="mdl-button mdl-js-button mdl-button--accent tgr-unselect">
        Deseleccionar
      </button>
    </div>
  </div>
  <div class="tgr-card__head">
    <div class="tgr-card__header">
      <div class="tgr-price">
        <span class="tgr-price__cost">$ {{total | number}}</span>
      </div>
      <p class="tgr-card__title">
        <i class="material-icons">directions_car</i>
        <span class="tgr-card__title--text">{{rol.destPropiedad | titlecase}} ({{tipos}})</span>
    </div>
    <div class="tgr-price">
      <p class="tgr-price__desc">
        <span class="tgr-card__desc--tag">Condonación</span><br>
        <span class="tgr-card__desc--price">-$ {{condonacion | number}}</span>
      </p>
    </div>
    <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol</span>
      {{rol.rolComunaSiiCod | leadingZero:3}}-{{rol.rolId | leadingZero:5}}-{{rol.subrolId | leadingZero:3}}</p>
    <div class="tgr-section-desc" *ngIf="showSuggestion">
      <div class="tgr-section-desc--text">
        Se hará un descuento mayor mientras más cuotas atrasadas se paguen
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="showSuggestion = false;">ok
      </button>
    </div>
  </div>

  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
      <a href="#a{{year}}-panel" class="mdl-tabs__tab" [class.is-active]="isActive(year)" (click)="activateTab(year)"
         *ngFor="let year of rol.getYears()">{{year}}</a>
    </div>

    <div class="mdl-tabs__panel " [class.is-active]="isActive(year)" id="a{{year}}-panel"
         *ngFor="let year of rol.getYears()">
      <table class="mdl-data-table mdl-js-data-table">
        <thead>
        <tr>
          <th (click)="selectAllNone(year)" class="tgr-th-icon {{ selectedIconMap.get(year) }}">
            <i class="material-icons"></i>
          </th>
          <th class="mdl-data-table__cell--non-numeric tgr-cuota">Cuota</th>
          <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
          <th class="tgr-monto">Monto</th>
        </tr>
        </thead>
        <tbody>
        <tr class="{{cuotaIcon(cuota)}}" *ngFor="let cuota of rol.getCuotas(year)"
            (click)="checkCuota(year, cuota)">
          <td>
            <i class="material-icons"></i>
          </td>
          <td [class.tgr-tr--late]="cuota.isExpired()">{{cuota.numeroCuota | slice:0:1}} <!-- {{cuota.isChecked()}} -->
          </td>
          <td [class.tgr-tr--late]="cuota.isExpired()">{{cuota.fechaVencimiento | date:'dd/MMM'}}</td>
          <td [class.tgr-tr--late]="cuota.isExpired()">$ {{cuota.getTotal() | number}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
