<div class="content tgr-content mdl-shadow--3dp" [class.selected]="porEliminar">
  <div class="tgr-cell-wait">
    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active">
    </div>
    <h5 class="tgr-cell-wait__feedback">Espera un momento mientras obtenemos la información de las cuotas para el rol {{rol.rolComunaSiiCod | leadingZero:3}}-{{rol.rolId | leadingZero:5}}-{{rol.subrolId | leadingZero:3}}</h5>
  </div>
  <div class="tgr-cell-delete">
    <div class="tgr-cell-delete--selector">
        <i class="material-icons tgr-unselect">check_circle</i>
        <i class="material-icons tgr-select">brightness_1</i>
      </div>
    <h5 class="tgr-delete-link tgr-select">Para desasociar el rol <br>{{rol.rolComunaSiiCod | leadingZero:3}}-{{rol.rolId | leadingZero:5}}-{{rol.subrolId | leadingZero:3}} de tu cuenta debes seleccionarlo</h5>
    <h5 class="tgr-delete-link tgr-unselect">El rol {{rol.rolComunaSiiCod | leadingZero:3}}-{{rol.rolId | leadingZero:5}}-{{rol.subrolId | leadingZero:3}} se desasociará de tu cuenta.
      <br>Debes confirmar eligiendo la opción
      <br><b>ELIMINAR ROLES SELECCIONADOS</b> de la barra de acciones</h5>
    <div class="tge-cell-delete__actions">
      <button class="mdl-button mdl-js-button mdl-button--primary">
        Cancelar
      </button>
      <button class="mdl-button mdl-js-button mdl-button--accent tgr-select" (click)="porEliminar = true">
        Seleccionar
      </button>
      <button class="mdl-button mdl-js-button mdl-button--accent tgr-unselect" (click)="porEliminar = false">
        Deseleccionar
      </button>
    </div>
  </div>
  <div class="tgr-card__head">
    <div class="tgr-card__header">
      <div class="tgr-price">
        <span class="tgr-price__cost">$ {{total | number}}</span>
      </div>
      <p class="tgr-card__title">
        <i class="material-icons">{{icon}}</i>
        <span class="tgr-card__title--text">{{rol.destPropiedad | titlecase}}</span>
    </div>
    <div class="tgr-price" *ngIf="condonacion > 0">
      <p class="tgr-price__desc">
        <span class="tgr-card__desc--tag">Condonación</span><br>
        <span class="tgr-card__desc--price">-$ {{condonacion | number}}</span>
      </p>
    </div>
    <p class="tgr-card__subtitle"><span class="tgr-card__tag">Rol</span>
      {{rol.rolComunaSiiCod | leadingZero:3}}-{{rol.rolId | leadingZero:5}}-{{rol.subrolId | leadingZero:3}}
    </p>
    <div class="tgr-section-desc">
      <div class="tgr-section-desc--text">
        <span class="tgr-section-desc--title"><i class="material-icons right">close</i>Descuento</span>
        <p>Se hará un descuento mayor mientras más cuotas atrasadas se paguen.</p>        
      </div>    
    </div>
  </div>
  <div *ngIf="!showTabs">
    <app-listado-propiedad-rol-cuotas
      [rol]="rol" (change)="actualizarTipoTotal()">
    </app-listado-propiedad-rol-cuotas>
  </div>
  <div *ngIf="showTabs" class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
      <a href="#a{{year}}-panel" class="mdl-tabs__tab" [class.is-active]="isActive(year)" (click)="activateTab(year)"
         *ngFor="let year of rol.getYears()">{{year}}</a>
    </div>

    <div class="mdl-tabs__panel " [class.is-active]="isActive(year)" id="a{{year}}-panel"
         *ngFor="let year of rol.getYears()">
      <app-listado-propiedad-rol-cuotas
          [rol]="rol" [year]="year" (change)="actualizarTipoTotal()">
      </app-listado-propiedad-rol-cuotas>
    </div>
  </div>
</div>
