<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col linea-tiempo-1">
    <div class="pasos">
      <p [class.active]="buscar" [class.done]="doneBuscar" >1. Buscar</p>
    </div>
    <i class="material-icons" [class.done]="doneBuscar">keyboard_arrow_right</i>
    <div class="pasos" >
      <p [class.active]="seleccionar" [class.done]="doneSeleccionar" >2. Seleccionar</p>
    </div>
    <i class="material-icons">keyboard_arrow_right</i>
    <div class="pasos">
      <p>3. Pagar</p>
    </div>
  </div>
</div>