<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col linea-tiempo-1">
    <div class="pasos">
      <div class="bullet" [class.active]="buscar" [class.done]="doneBuscar"></div>
      <p [class.active]="buscar" [class.done]="doneBuscar" >Buscar<br><span class="mdl-layout--large-screen-only">Propiedades</span></p>
    </div>
    <i class="material-icons">keyboard_arrow_right</i>
    <div class="pasos" >
      <div class="bullet" [class.active]="seleccionar" [class.done]="doneSeleccionar"></div>
      <p [class.active]="seleccionar" [class.done]="doneSeleccionar" >Seleccionar<br><span class="mdl-layout--large-screen-only">Deudas</span></p>
    </div>
    <i class="material-icons">keyboard_arrow_right</i>
    <div class="pasos">
      <div class="bullet" ></div>
      <p >Pagar</p>
    </div>
  </div>
</div>
