@import '../../../../../../styles/colors';


.mdl-button.mdl-button--return {
  background: gray;
  right: 10px;
}
.tgr-actions{
  @media (max-width: 320px){
    top: 488px;
    padding-right: 10px;
    padding-left: 10px;

  }
}

.mdl-button {
  @media (max-width: 320px){
   font-size: 12px;
  }
}
.tgr-pay.tgr-agregar-nueva{
  @media (max-width: 320px){
   margin-top: 20px;
  }
}
.mdl-textfield {
  width: 100%;
}
.tgr-textfield--full {
  @media (max-width: 996px) {
  	width: 100%;
		margin: 0;
	}
}
.mdl-textfield > .mdl-textfield__label {
  @media (max-width: 320px){
    font-size: 12px;
  }
}

.tgr-newsearch {
  margin: 0;
	position: relative;
  width: calc(33.3% - 10px);
  display: inline-block;
  margin: 0  0 0 10px;
  @media (max-width: 996px) {
    width: calc(50% - 10px);
  }
  @media (max-width: 683px) {
    width: 100%;
    margin: 0;
  }
}
.is-suggesting .tgr-suggestions {
	opacity: 1;
	visibility: visible;;
}
.tgr-suggestions {
	background: #fff;
	left: 0;
	list-style: none;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 47px;
	z-index: 1;
	visibility: hidden;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
.tgr-suggestion{
	padding: 0 8px;
}
.tgr-suggestion:hover{
	background: $gray-light;
}
.tgr-card__head {
	color: $gray-text-dark;
}
.tgr-search .tgr-card__title--text {
	padding-top: 10px;
}
.tgr-pay {
	margin-top: 30px;
}
.tgr-results .mdl-checkbox {
	float: right;
  display: block;
  width: auto;
}
.tgr-card__title .material-icons {
  color: $color-violet;
      float: left;
    line-height: 1;
    margin-right: 4px;
    margin-top: -6px;
    margin-bottom: -6px
}
.tgr-card__title  {
  margin: 0;
}
.tgr-card__subtitle {
  margin-bottom: 0;
  margin-top: 2px;
}

.tgr-card__tag {
  font-weight: 500;
  text-transform: uppercase;
}
.tgr-card__subtitle-text {
  padding-left: 34px;
}
.tgr-card__title--text {
	display: block;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
  @media (max-width: 320px){
    font-size: 14px;
  }

}
.tgr-rol-row {
	padding: 16px 16px 8px 16px;
}
.tgr-rol-row .tgr-card__title--text {
	color: $color-primary
}
.tgr-rol-row ~ .tgr-rol-row {
	border-top: 1px solid $gray-light;
}
.tgr-results .tgr-card__body {
	padding: 0;
}
.tgr-results {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 100px;
  align-items: flex-start;
}

.tgr-results .tgr-content {
  width: calc(33.3333% - 20px);
  margin: 0 10px 20px;
  @media (max-width: 700px){
    width: calc(50% - 20px);
  }
  @media (max-width: 480px){
    width: 100%;
  }
}

// capa de espera
.tgr-cell-wait {
  display:none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $color-advice-background;
  z-index: 300;
}
.wait > .tgr-cell-wait {
  display: block;
}
.tgr-cell-wait .mdl-spinner {
  left: calc(50% - 20px);
  margin-top: 10%;
}
.tgr-cell-wait__feedback {
  padding: 5px 32px;
  text-align: center;
  color: #666;
}
.tgr-i-comuna{
  margin-right: calc(50% - 15px);
}
.tgr-i-rol, .tgr-i-subrol {
  width: calc(50% - 15px);
}
.tgr-i-rol {
  margin-right: 7px;
}
.tgr-i-subrol {
  margin-left: 8px;
}
.mdl-textfield {
  @media (max-width: 320px) {
    font-size: 12px;
  }
}
