@import '../../../../../../styles/colors';
.tgr-content.tgr-search {
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 480px) {
    width: 100%;
  }
  @media (min-width: 600px) and (max-width: 840px) {
    width: 70%;
  }
  .tgr-card__head {
  	padding: 10px 18px;
  	color: $color-dark-blue-text;
  	border-bottom: none;
  	// descomentar en versión desktop
  	//@media (min-width: 840px) {
  	//  border-bottom: 2px solid $color-dark-blue-text;
  	//}
  }
  .tgr-card__body {
    position: relative;
    @media (max-width: 480px) {
      padding: 12px 14px 30px 14px;
    }
    &.body-direccion {
      padding-bottom: 30px;
    }
    .ayuda-busqueda {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      cursor: pointer;
      width: 100%;
      border: none;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      color: $color-dark-blue-text;
      background-color: $color-light-gray;
      transition: .3s;
      &:hover,
      &:active,
      &:focus {
        background-color: $color-light-gray2;
      }
      p {
        margin-top: 6px;
        margin-bottom: 8px;
        i {
          vertical-align: bottom;
        }
      }
      // descomentar en versión desktop
      //@media (min-width: 840px) {
      //  display: none;
      //}
    }

    .tgr-card__search {
      margin-top: 28px;
      @media (max-width: 480px) {
        padding-left: 9px;
        padding-right: 9px;
      }
      // descomentar en versión desktop
      //@media (min-width: 840px) {
      //  margin-top: 0;
      //}
    }

    .tgr-card__footer {
      padding-left: 0;

      &.footer-direccion {
        padding: 0;
      }

      .button-default-link {
        float: left;
      }
    }
  }
}
.mdl-button.mdl-button--return {
  background: gray;
  text-transform: uppercase;
  background-color: transparent;
  color: #448aff;
  box-shadow: none;
  font-size: 14px;
  //@media (max-width: 320px) {
  //  float: right;
  //  padding-left: 0;
  //  margin-right: -12px;
  //}
  @media (max-width: 480px){
    padding-right: 0;
    font-size: 13px;
  }
  i.material-icons {
    margin-left: -2px;
    margin-bottom: 2px;
  }
}
.tgr-actions{
  min-height: 70px;
  @media (max-width: 320px){
    //top: 0px;
    padding-right: 10px;
    padding-left: 10px;

  }
  &.tgr-actions-hidden {
    display: none;
  }
}

.boton-buscar-direccion {
  display: inline-block;
  width: 20%;
  margin-left: 15px;
  @media (max-width: 480px) {
    margin-left: 5px;
  }
}

.tgr-switch {
  .mdl-button {
    color: $color-dark-blue-text;

    &:hover {
      color: #ffffff;
    }
    &.tgr-switch-active {
      color: $color-white;
      background-color: $color-dark-blue-text;
    }
  }
}

.mdl-button {
  text-transform: none;
  font-size: 16px;
   &[disabled] {
    &:hover {
      color: $gray-26;
    }
    &:not([disabled]) {
      color: $color-white;
    }
    i {
      color: $gray-26;
      &:hover {
        color: $gray-26;
      }
    }
  }
  &.mdl-button--colored:focus:not(:active) {
    background-color: $link-color;
    color: $color-white;
  }
  @media (max-width: 480px){
   font-size: 14px;
  }
  &:hover {
    color: $color-white;
  }
}

.tgr-pay.tgr-agregar-nueva{
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 320px){
   margin-top: 12px;
  }
  @media (min-width: 481px) and (max-width: 839px) {
    width: 75%;
  }
  @media (min-width: 840px) and (max-width: 1279px) {
    width: 50%;
  }
  @media (min-width: 1280px) {
    width: 35%;
  }
  .mdl-button:first-of-type {
    float: left;
    @media (max-width: 320px) {
      margin-left: -6px;
    }
    @media (min-width: 321px) and (max-width: 480px) {
      margin-left: 10px;
    }
    .material-icons {
      margin-left: 0;
      font-size: 20px !important;
      @media (max-width: 355px) {
        display: none;
      }
      @media (min-width: 481px) {
        font-size: 24px !important;
      }
    }
  }
  .mdl-button:last-of-type {
    float: right;
    text-transform: uppercase;
    font-size: 14px;
    @media (max-width: 340px) {
      font-size: 13px;
      margin-right: 0;
    }
    @media (min-width: 341px) and (max-width: 480px) {
      margin-right: 10px;
    }
    span {
      font-size: 16px;
      @media (max-width: 480px) {
        font-size: 14px;
      }
    }
  }
}

@-moz-document url-prefix() { 
  .guion-rol {
      position: relative;
      bottom: 27px;
  }
}

.mdl-textfield {
  width: 100%;
  &#direccion {
    display: inline-block;
    width: 75%;
    @media (max-width: 480px) {
      width: 70%;
    }
  }
}
.tgr-textfield--full {
  @media (max-width: 996px) {
  	width: 100%;
		margin: 0;
	}
}
.mdl-textfield > .mdl-textfield__label {
  @media (max-width: 320px){
    font-size: 12px;
  }
}
.tgr-newsearch {
  margin: 0;
	position: relative;
  width: calc(33.3% - 10px);
  display: inline-block;
  width: 100%;
  /*@media (max-width: 996px) {
    width: calc(50% - 10px);
  }*/
  @media (max-width: 683px) {
    width: 100%;
    margin: 0;
  }
}
.is-suggesting .tgr-suggestions {
	opacity: 1;
	visibility: visible;;
}
.tgr-suggestions {
  cursor: pointer;
	background: #fff;
	left: 0;
	list-style: none;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	right: 0;
  top: 58px;
	z-index: 999;
	visibility: hidden;
	box-shadow: none;
  //box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
.tgr-suggestion{
  padding: 4px 8px;
}
.tgr-suggestion small {
  display: block;
}
.tgr-suggestion:hover{
	background: $gray-light;
}
.tgr-search .tgr-card__title--text {
	padding-top: 10px;
}
.tgr-pay {
	margin-top: 17px;
	text-align: center;
}
.grecaptcha-badge {
  bottom: 70px !important;
  z-index: 5 !important;
}
.tgr-results .mdl-checkbox {
	float: right;
  display: block;
  width: auto;
}
.tgr-results h3 {
  font-size: 18px;
  line-height: 1.3;
  padding: 0 10px;
}
.tgr-card__title .material-icons {
    color: $color-dark-blue-text;
    float: left;
    line-height: 20px;
    margin-right: 4px;
    margin-top: -6px;
    margin-bottom: -6px
}
.tgr-card__title  {
  margin: 0;
}
.tgr-card__subtitle {
  margin-bottom: 0;
  margin-top: 2px;
}
.tgr-card__tag {
  font-weight: 500;
  text-transform: uppercase;
}
.tgr-card__subtitle-text {
  padding-left: 34px;
}
.tgr-card__title--text {
	display: block;
	font-size: 16px;
	font-weight: 500;
}
.tgr-rol-row {
	padding: 16px 10px 10px 12px;
}
.tgr-rol-row .tgr-card__title--text {
	color: $color-primary
}
.tgr-rol-row ~ .tgr-rol-row {
	border-top: 1px solid $gray-light;
}
.tgr-results .tgr-card__body {
	padding: 0;
}

.results-not-found {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 480px) {
    width: 100%;
  }
  @media (min-width: 600px) and (max-width: 840px) {
    width: 70%;
  }
  h3 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 34px;
    color: $color-dark-gray;
    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
}

.tgr-results-coincidencias {
  width: 100%;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  p {
    font-size: 16px;
    color: $color-dark-blue-text;
  }
  a {
    font-size: 16px;
    .material-icons {
      margin-bottom: 8px;
    }
  }
}

.tgr-results {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 12px;
  padding-bottom: 25px;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 480px) {
    width: 100%;
  }
  @media (min-width: 600px) and (max-width: 840px) {
    width: 70%;
  }
  .check-seleccion-propiedades {
    margin-bottom: 6px;
    .material-icons {
      vertical-align: bottom;
      cursor: pointer;
      color: $color-dark-blue-text;
    }
    span {
      margin-left: 6px;
      font-size: 16px;
      color: $color-dark-blue-text;
    }
  }
  .tgr-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.contador-propiedades {
  position: fixed;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  text-align: center;
  background-color: $gray-lightblue-background;
  padding-top: 6px;
  padding-bottom: 14px;
  margin-bottom: 7px;
  width: 100%;
  font-size: 16px;
  color: $color-dark-blue-text;
  bottom: 54px;
  display: block;
  right: 0;
  left: 0;
  z-index: 4;
  @media (max-width: 480px) {
    font-size: 14px;
  }
  &.contador-hidden {
    display: none;
  }
}

// capa de espera
.tgr-cell-wait {
  display:none;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #2f3c89;
  font-size: 16px;
  font-weight: 500;
  background: $color-advice-background;
}
.wait > .tgr-cell-wait {
  display: block;
}
.tgr-cell-wait .mdl-spinner {
  left: calc(50% - 20px);
  margin-top: 20%;
  @media (min-width: 1025px) {
    margin-top: 15%;
  }
}
.tgr-cell-wait__feedback {
  padding: 5px 32px;
  text-align: center;
  color: #666;
}
.tgr-i-comuna {
  margin-right: calc(50% - 15px);
  /* Debo saber qué pasa acá!!
    .mdl-textfield.is-upgraded {
      width: 100% !important;
      padding-right: 4px !important;
    }
  */
}
.tgr-i-rol, .tgr-i-subrol {
  width: 31%;
}
.tgr-i-rol {
  margin-right: 7px;
}
.tgr-i-subrol {
  margin-left: 8px;
}
.mdl-textfield {
  @media (max-width: 480px) {
    font-size: 12px;
  }
}
.cursor-pointer{
  cursor: pointer;
}
