<mdl-card mdl-shadow="2" class="mdl-cell mdl-cell--4-col mb-10 rol-card">

    <mdl-card-title class="bar">

        <button id="helpTooltip{{formulario.formNum}}" placement="right" trigger="none" 
                [tooltip]="HtmlContent" content-type="template" 
                mdl-button class="helpTooltip-rol" mdl-button-type="icon" 
                (click)="mostrarOcultar()">
            <mdl-icon>{{expanded ? 'expand_less' : 'expand_more'}}</mdl-icon>
        </button>

        <ng-template #HtmlContent>
            <p>Revisa el detalle de tus deudas.</p>
        </ng-template>

        <div class="bar-text" (click)="toggle()">
            <h6> <i class="material-icons"> {{ icon }} </i> {{ formulario.formNom | titlecase }} </h6>
        </div>

        <div class="mdl-layout-spacer"></div>

        <div class="wrapper">
            <span  class="rol-total" [class.tgr-tr--late]="formulario.expired" (click)="toggle()">
               {{ mtoForm | currency:'CLP':'symbol' }}
            </span>
        </div>
        

    </mdl-card-title>


    <div [class.hidden]="!expanded">

        <div *ngIf="formulario.listDetalle.length > 0">

            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th (click)="seleccionarTodasNinguna()"> <mdl-icon> {{ formulario.intencionPago ? 'check_box' : 'check_box_outline_blank' }} </mdl-icon> </th>
                        <th class="mdl-data-table__cell--non-numeric tgr-cuota">Folio</th>
                        <th class="mdl-data-table__cell--non-numeric tgr-vence">Vence</th>
                        <th class="mdl-data-table__cell--non-numeric tgr-monto">Monto</th>
                        <th class="mdl-data-table__cell--non-numeric tgr-monto">Reajuste</th>
                        <th class="mdl-data-table__cell--non-numeric tgr-monto">Interés</th>
                        <th class="mdl-data-table__cell--non-numeric tgr-monto">Multa</th>
                        <th class="mdl-data-table__cell--non-numeric tgr-monto">Condonación</th>
                        <th class="mdl-data-table__cell--non-numeric tgr-monto">% Condonación</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detalle of formulario.listDetalle" (click)="seleccionarDetalle(detalle)">
                        <td> <mdl-icon> {{ detalle.intencionPago ? 'check_box' : 'check_box_outline_blank' }} </mdl-icon> </td>
                        <td> {{ detalle.folio }} </td>
                        <td> {{ detalle.vencimiento | date:'dd/MM/yyyy'}}</td>
                        <td> {{ ( formulario.pagoTotal ? detalle.montoTotal : detalle.montoParcial ) | currency:'CLP':'symbol':'4.0-0' }} </td>
                        <th> {{ detalle.reajuste | currency:'CLP':'symbol':-'4.0-0' }} </th>
                        <th> {{ detalle.interes | currency:'CLP':'symbol':'4.0-0' }} </th>
                        <th> {{ detalle.multa | currency:'CLP':'symbol':'4.0-0' }} </th>
                        <th> {{ detalle.condonacion | currency:'CLP':'symbol':'4.0-0' }} </th>
                        <th> {{ detalle.porCondonacion | percent }} </th>
                    </tr>                    
                </tbody>
            </table>

        </div>

        <div class="tgr-row" *ngIf="formulario.listDetalle.length == 0">
            No registras deudas asociadas a este Formulario
        </div>

    </div>

</mdl-card>
