<div class="tgr-confirmation">
  <div class="mdl-card tgr-confirmation-card mdl-shadow--2dp">    
    <h1 class="tgr-confirmation__title">Seleccione tu medio de pago</h1>
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
        <a href="#todos-panel" class="mdl-tabs__tab is-active">Todos</a>
        <a href="#nacional-panel" class="mdl-tabs__tab">Banca nacional</a>
        <a href="#debito-panel" class="mdl-tabs__tab">Crédito/Débito</a>
        <a href="#casas-panel" class="mdl-tabs__tab">Casas comerciales</a>
      </div>

      <div class="mdl-tabs__panel tgr-pay-panel is-active" id="todos-panel">
        
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
          <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>                  
          <div class="mdl-radio__label">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Visa.svg/400px-Visa.svg.png">
            Medio de pago 1</div>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
          <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">                  
          <div class="mdl-radio__label">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Visa.svg/400px-Visa.svg.png">
            Medio de pago 2</div>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
          <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="1" checked>                  
          <div class="mdl-radio__label">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Visa.svg/400px-Visa.svg.png">
            Medio de pago 3</div>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
          <input type="radio" id="option-4" class="mdl-radio__button" name="options" value="2">                  
          <div class="mdl-radio__label">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Visa.svg/400px-Visa.svg.png">
            Medio de pago 4</div>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-5">
          <input type="radio" id="option-5" class="mdl-radio__button" name="options" value="1" checked>                  
          <div class="mdl-radio__label">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Visa.svg/400px-Visa.svg.png">
            Medio de pago 5</div>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-6">
          <input type="radio" id="option-6" class="mdl-radio__button" name="options" value="2">                  
          <div class="mdl-radio__label">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Visa.svg/400px-Visa.svg.png">
            Medio de pago 6</div>
        </label>

      </div>
      <div class="mdl-tabs__panel tgr-pay-panel" id="nacional-panel">

      </div>
      <div class="mdl-tabs__panel tgr-pay-panel" id="debito-panel">

      </div>
      <div class="mdl-tabs__panel tgr-pay-panel" id="casas-panel">

      </div>
    </div>
    <div class="tgr-dialog__actions">      
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" >Pagar</button>
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised">Volver</button>
      </div>
      <div class="tgr-total">
        <h3>Total: 103.200</h3>    
      </div>      
    </div>
  </div>
</div>


        
