@import '../../../styles/colors';

.tgr_header-drawer {
    .login_usuario {
        background-color: $gray-lightblue-background;
        text-align: center;
        .user-logged {
            margin-top: 20px;
            margin-bottom: 25px;
            p {
                margin-bottom: 6px;
                font-size: 16px;
            }
            h5 {
                margin-top: 0;
                margin-bottom: 12px;
                font-size: 22px;
                font-weight: 700;
            }
        }
        .user-not_logged {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .mdl-button.button-basic-white {
            font-size: 13px;
            .material-icons {
                font-size: 18px;
            }
        }
    }
    nav.mdl-navigation {
        hr {
            margin-left: 22px;
            margin-right: 22px;
        }
        .mdl-navigation__link {
            padding: 16px 22px;
            color: $color-dark-gray;
            .material-icons {
                margin-right: 10px;
            }
            &:hover,
            &:focus,
            &:active{
                background-color: $gray-lightblue-background;
                margin-right: 14px;
                border-bottom-right-radius: 30px;
                border-top-right-radius: 30px;
            }
            &.highlight {
                font-weight: 700;
                color: $color-dark-blue-text;
            }
        }
    }
}

.tgr-card_container {
    background-color: $color-white;
    @include box-shadow-3dp;
    @media (min-width: 840px) {
        box-shadow: none;
    }
    .tgr-tabs {
        display: flex;
        margin-bottom: 10px;
        border-bottom: none;
        padding: 0 10px 0 10px;
        @media (max-width: 839px) {
            justify-content: center;
        }
        @media (min-width: 840px) {
            justify-content: flex-start;
            margin-bottom: 0;
            padding: 0 24px 0 0;
        }
        a {
            font-weight: 700;
            color: $color-dark-blue-text;
            @media (max-width: 325px) {
                font-size: 12px;
            }
            @media (max-width: 380px) {
                font-size: 13px;
            }
            @media (min-width: 840px) {
                @include box-shadow-3dp;
            }
            &.tab-deudas_fiscales {
                padding-right: 0;
                padding-left: 0;
            }
            &.is-active {
                font-weight: 700;
                &.tab-deudas_fiscales {
                  color: $color-deudas_fiscales;
                  border-bottom: 2px solid $color-dark-blue-text;
                }
                &.tab-contribuciones {
                    color: $color-contribuciones;
                    border-bottom: 2px solid $color-dark-blue-text;
                }
            }
        }
    }
    .tgr-tabs_panel {
        @media (min-width: 840px) {
            @include box-shadow-3dp;
            height: fit-content;
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}