<div class="demo-container demo-layout-transparent">
  <mdl-layout #mdlLayout1="mdlLayout" mdl-layout-fixed-header>
    <mdl-layout-header mdl-layout-header>
      <mdl-layout-header-row>
        <mdl-layout-spacer></mdl-layout-spacer>
        <a href="/">
          <img src="../../../assets/tgr-logo.svg" alt="estrella TGR" height="30px" width="auto">
        </a>
        <mdl-layout-spacer></mdl-layout-spacer>
        <nav class="mdl-navigation">
          <button class="mdl-navigation__link"
                  #btnMenu="mdlButton"
                  (click)="menu.toggle($event, btnMenu)"
                  mdl-button
                  mdl-button-type="icon">
            <i class="material-icons account_circle mdl-button--account-user pointer">account_circle</i>
          </button>
          <mdl-menu #menu="mdlMenu" mdl-menu-position="bottom-right">
            <mdl-menu-item *ngIf="!logged"
                           (click)="redirigirLogin()"
                           mdl-ripple>
              Iniciar Sesión
            </mdl-menu-item>
            <mdl-menu-item *ngIf="logged"
                           (click)="redirigirMiCuenta()"
                           mdl-ripple mdl-menu-item-full-bleed-divider>
              Mi Cuenta
            </mdl-menu-item>
            <mdl-menu-item *ngIf="logged"
                           (click)="logout()"
                           mdl-ripple>
              Cerrar Sesión
            </mdl-menu-item>
          </mdl-menu>
        </nav>
      </mdl-layout-header-row>
    </mdl-layout-header>

    <mdl-layout-content>
      <mdl-tabs mdl-ripple [mdl-tab-active-index]="index" (mdl-tab-active-changed)="tabChanged($event)">
        <mdl-tab-panel mdl-tab-panel-title="Contribuciones">
        </mdl-tab-panel>
        <mdl-tab-panel mdl-tab-panel-title="Certificados">
        </mdl-tab-panel>
      </mdl-tabs>
      <router-outlet></router-outlet>
    </mdl-layout-content>
  </mdl-layout>
</div>

