<div class="tgr-content tgr-search mdl-shadow--3dp" [class.wait]="wait" appMdlInit>
  <div class="tgr-cell-wait">
    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active">
    </div>
  </div>
  <div class="tgr-card__head">
    <div class="tgr-switch">

      <button class="mdl-button mdl-js-button" [class.tgr-switch-active]="switchActive === 'direccion'"
              (click)="changeSwith('direccion')">
        Dirección
      </button>
      <button class="mdl-button mdl-js-button " [class.tgr-switch-active]="switchActive === 'rol'"
              (click)="changeSwith('rol')">
        Rol
      </button>
    </div>

    <span class="tgr-card__title--text">Busqueda de Propiedades</span>
  </div>
  <form [formGroup]="formDireccion" (submit)="buscarDireccion()">
    <div class="tgr-card__body " [class.hidden]="switchActive === 'rol'">
      <mdl-select #autocompleteSelectComunas [class.is-invalid]="comunaDireccion.touched && comunaDireccion.invalid"
                  [autocomplete]="true"
                  (change)="autoCompletar()"
                  error-msg="Debe seleccionar una Comuna"
                  [formControl]="comunaDireccion"
                  label="Comuna"
                  floating-label>
        <mdl-option *ngFor="let local of localidad| matchSorter:'comuna':autocompleteSelectComunas.searchQuery"
                    [value]="local.id">{{local.comuna | titlecase}}
        </mdl-option>
      </mdl-select>

      <mdl-select #autocompleteSelectTipoPropiedades [class.is-invalid]="tipoPropiedad.touched && tipoPropiedad.invalid"
                  [autocomplete]="true"
                  (change)="autoCompletar()"
                  error-msg="Debe seleccionar un tipo de propiedad"
                  [formControl]="tipoPropiedad"
                  label="Tipo Propiedad"
                  floating-label>
        <mdl-option
          *ngFor="let tipo of tipoPropiedades| matchSorter:'descripcion':autocompleteSelectTipoPropiedades.searchQuery"
          [value]="tipo.id">{{tipo.descripcion | titlecase}}
        </mdl-option>
      </mdl-select>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label tgr-textfield--full"
           [class.is-suggesting]="searchDireccion">
        <input class="mdl-textfield__input"
               type="text"
               id="direccion"
               (keyup)="inputDirecciones($event)"
               (ngModel)="direccionModel"
               formControlName="direccion">
        <label class="mdl-textfield__label" for="calle">Dirección</label>
        <ul class="tgr-suggestions mdl-shadow--3dp">
          <li *ngFor="let dire of direcciones | matchSorter:'direccion'"
              (click)="direccion.setValue(dire.direccion.toLowerCase()); searchDireccion = false">{{dire.direccion |
            titlecase}}
          </li>
        </ul>
      </div>


      <div class="tgr-card__footer .tgr-pay">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit"
                [disabled]="formDireccion.invalid">Buscar
        </button>
      </div>
    </div>
  </form>
  <div class="content tgr-card__body " [class.hidden]="switchActive === 'direccion'">
    <form [formGroup]="formRol" (ngSubmit)="buscarRol()">
      <div class="tgr-card__body ">


        <mdl-select #autocompleteSelect [class.is-invalid]="comuna.touched && comuna.invalid"
                    [autocomplete]="true"
                    (change)="autoCompletar()"
                    error-msg="Debe seleccionar una Comuna"
                    [formControl]="comuna"
                    label="Comuna"
                    floating-label>
          <mdl-option *ngFor="let local of localidad| matchSorter:'comuna':autocompleteSelect.searchQuery"
                      [value]="local.idSii">{{local.comuna | titlecase}}
          </mdl-option>
        </mdl-select>

        <mdl-textfield [class.is-invalid]="rol.touched && rol.invalid"
                       type="number"
                       id="rol"
                       name="rol"
                       label="Rol"
                       [formControl]="rol"
                       error-msg="Debe ingresar un Rol"
                       floating-label
        ></mdl-textfield>
        <mdl-textfield [class.is-invalid]="subRol.touched && subRol.invalid"
                       type="number"
                       id="subRol"
                       name="subRol"
                       label="Sub Rol"
                       [formControl]="subRol"
                       error-msg="Debe ingresar un Sub Rol"
                       floating-label
        ></mdl-textfield>
      </div>
      <div class="tgr-card__footer">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit"
                [disabled]="formRol.invalid">Buscar
        </button>
      </div>
    </form>
  </div>
</div>

<div class="tgr-results">
  <h3 [class.hidden]="!sinResultado">Sin resultados en la busqueda</h3>
  <div class="tgr-content mdl-shadow--3dp" app-propiedad *ngFor="let propiedad of propiedades" [propiedad]="propiedad"
       (change)="updateSeleccionadaTotal()" appMdlInit>
  </div>
</div>


<div class="tgr-actions">
  <div class="tgr-actions__content">
    <div class="tgr-pay">
      <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Agregar 3 propiedades
      </button>
    </div>
  </div>
</div>
