
<div class="tgr-content mdl-shadow--3dp">
	<div class="tgr-card__head">		
		<div class="tgr-switch">
			<button class="tgr-switch-active">
				Dirección
			</button>
			<button class="mdl-button mdl-js-button">
	 			Rol
	 		</button>
		</div>
		<span class="tgr-card__title--text">Busqueda de Propiedades</span>
	</div>
	<div class="tgr-card__body">
		 <form action="#">   
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
        <input type="text" value="" class="mdl-textfield__input" id="sample4" readonly>
        <input type="hidden" value="" name="sample4">
        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
        <label for="sample4" class="mdl-textfield__label">Comuna</label>
        <ul for="sample4" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
            <li class="mdl-menu__item" data-val="DEU">La Reina</li>
            <li class="mdl-menu__item" data-val="BLR">Providencia</li>
            <li class="mdl-menu__item" data-val="RUS">Renca</li>
        </ul>
    	</div>
    	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
        <input type="text" value="" class="mdl-textfield__input" id="sample5" readonly>
        <input type="hidden" value="" name="sample5">
        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
        <label for="sample5" class="mdl-textfield__label">Tipo de propiedad</label>
        <ul for="sample5" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
            <li class="mdl-menu__item" data-val="casa">Casa</li>
            <li class="mdl-menu__item" data-val="depto">Departamento</li>
            <li class="mdl-menu__item" data-val="other">Otro</li>
        </ul>
    	</div>
    	 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label tgr-textfield--full">
        <input class="mdl-textfield__input" type="text" id="calle" value="">
        <label class="mdl-textfield__label" for="calle">Dirección</label>
      </div>
    </form>
	</div>    
    <div class="tgr-card__footer">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button">Buscar</button>    
    </div>    
</div>
<div class="tgr-results">
<!--     <div class="tgr-content mdl-shadow--3dp">
    <div class="tgr-card__head">        
        <span class="tgr-card__title--text">Avenida Miguel Claro 1074</span>
    </div>
    <div class="tgr-card__body">
        <p _ngcontent-c7="" class="tgr-card__title"><i _ngcontent-c7="" class="material-icons">meeting_room</i><span _ngcontent-c7="" class="tgr-card__title--text">Bodega</span></p>
    </div>    
       
</div> -->
</div>