@import '../../../styles/colors';

.tgr-header {
	background-color: #fff
}
.tgr-header .material-icons{
    color: $color-primary-dark !important;
}
.tgr-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
}
.tgr-logo-image {
	height: 30px;
	width: auto;
}
.tgr-header .active-menu {
	background-color: $color-primary-dark;
	color: #fff;
}
.tgr-header .mdl-navigation__link:hover {
	background-color: $color-primary-contrast;
	color: #fff;
}
.tgr-header .active-menu:hover {
	background-color: $color-primary-dark;
	color: #fff;
}