<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="tgr-header mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="tgr-title mdl-layout-title">
            <img class="tgr-logo-image" src="../../../assets/tgr-logo.svg">
      </span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" routerLinkActive="active-menu" routerLink="/main/contribuciones" href="">Contribuciones</a>
        <a class="mdl-navigation__link" routerLinkActive="active-menu" routerLink="/main/certificados" href="">Certificados</a>
      </nav>
      <div class="mdl-layout-spacer"></div>

      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <button class="mdl-button mdl-js-button mdl-button--icon">
        <i class="mdl-layout-icon  material-icons">person</i>
      </button>

      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect">
        <li class="mdl-menu__item">Ingresar</li>
        <li class="mdl-menu__item">Registrarse</li>
      </ul>

    </div>
  </header>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="tgr-title mdl-layout-title">
            <img class="tgr-logo-image" src="../../../assets/tgr-logo.svg">
      </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link active" routerLink="/main/contribuciones" href="">Contribuciones</a>
      <a class="mdl-navigation__link" routerLink="/main/certificados" href="">Certificado</a>
      <a class="mdl-navigation__link" routerLink="/landing" href="">Salir</a>
    </nav>
  </div>
  <div class="mdl-layout__content">
    <router-outlet></router-outlet>
  </div>
</div>



