<div class="tgr-container">
  <div class="tgr-content mdl-shadow--3dp">
    <div class="tgr-card__body mdl-grid">
      <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
        <h5>Tipo de Certificado</h5>
        <div (click)="certificadoDeudas = !certificadoDeudas">
          <span><mdl-icon>{{certificadoDeudas ? icons.SELECTED : icons.UNSELECTED}}</mdl-icon> Certificado deudas</span>
        </div>
        <div (click)="historialPagos = !historialPagos">
          <span><mdl-icon>{{historialPagos ? icons.SELECTED : icons.UNSELECTED}}</mdl-icon> Historial de Pagos</span>
        </div>
        <mdl-select *ngIf="historialPagos"
                    label="Año *"
                    [(ngModel)]="ano"
                    error-msg="Debe seleccionar un año"
                    floating-label>
          <mdl-option *ngFor="let a of anos" [value]="a">{{a}}</mdl-option>
        </mdl-select>
      </div>
    </div>
  </div>

  <div class="tgr-results">
    <app-propiedad class="tgr-content mdl-shadow--3dp" *ngFor="let propiedad of propiedades" [propiedad]="propiedad"
                   (change)="actualizarSeleccionadas()">
    </app-propiedad>
  </div>

  <div class="tgr-actions">
    <div class="tgr-actions__content">
      <div class="tgr-pay">
        <div class="tgr-pay__label"> {{seleccionados}} rol(es) seleccionado(s)</div>
        <button type="submit"
                (click)="solicitarCertificado()"
                [disabled]="(!certificadoDeudas && (!historialPagos || !ano)) || seleccionados < 1"
                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Enviar Certificado
        </button>
      </div>
    </div>
  </div>
</div>

