<!--<form ngNoForm method="post" action="{{urlPagoTgr}}">-->
<form ngNoForm>
  <input type="hidden" name="listaContribuciones" value="{{codigos}}"/>
  <input type="hidden" name="multiARString" value="{{multiARString}}"/>
  <!--<input *ngIf="deviceDetectService.device.mobile" type="hidden" name="CANAL" value="30M"/>-->
  <!--<input *ngIf="deviceDetectService.device.tablet" type="hidden" name="CANAL" value="30T"/>-->
  <!--<input *ngIf="deviceDetectService.device.smartTv" type="hidden" name="CANAL" value="30TV"/>-->
  <!--<input *ngIf="deviceDetectService.device.desktop" type="hidden" name="CANAL" value="30D"/>-->
  <input type="hidden" name="CANAL" value="{{canalRecibido}}"/>
  <button mdl-button class="button-pay" [disabled]="total <= 0">Ir a Pagar $ {{total | number}}
  </button>
</form>
