// @import '../styles/colors';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular-mdl/core/scss/material-design-lite';
@import '~@angular-mdl/popover/popover';
@import '~@angular-mdl/select/select';

.demo-card-wide.mdl-card {
    width: 100%;
  }

  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: red;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

  #mycard {
    height: 600px;
    width:100%;
   display:flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
  }

  #name {
    display:flex;
  margin-top: 10px;
    justify-content: left;
  }