<!--<div class="mdl-grid">-->
<!--  <div class="mdl-cell mdl-cell--12-col m-0auto pay-title">-->
<!--    <h5 class="title text-center text-mont">Formulario de-->
<!--      <strong>Contacto</strong>-->
<!--    </h5>-->
<!--    <p class="text-left">Por favor complete los campos del formulario</p>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="mdl-grid">-->





<!--  <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--3-offset-desktop">-->

<!--    <div class="demo-card-wide mdl-card mdl-shadow--2dp">-->
<!--      <div class="mdl-card__supporting-text">-->


<!--        <form ngNoForm method="POST" action="https://test.tesoreria.cl/IntClientePregosWSWeb/enviarForm">-->

<!--        <div class="mdl-cell mdl-cell--12-col m-0auto pay-title">-->
<!--          <h6 class="title text-left text-mont">-->
<!--            <strong>Datos solicitante</strong>-->
<!--          </h6>-->

<!--        </div>-->

<!--        <div id="name" class="mdl-grid">-->
<!--          <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label">-->
<!--            <input class="mdl-textfield__input" type="text" id="txtNombre" name="txtNombre">-->
<!--            <label class="mdl-textfield__label" for="txtNombre">Nombre</label>-->
<!--          </div>-->

<!--          <div class="mdl-cell mdl-cell--6-col  mdl-cell--12-col-phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label">-->
<!--            <input class="mdl-textfield__input" type="text" id="txtRut" name="txtRut">-->
<!--            <label class="mdl-textfield__label" for="sample3">RUT</label>-->
<!--          </div>-->
       
<!--        <div class="mdl-cell mdl-cell--6-col  mdl-cell--12-col-phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label">-->
<!--          <input class="mdl-textfield__input" type="text" id="txtDV" name="txtDV"> -->
<!--          <label class="mdl-textfield__label" for="sample3">DV</label>-->
<!--        </div>-->
<!--        </div>        -->

<!--        <div class="mdl-cell mdl-cell--12-col m-0auto pay-title">-->
<!--          <h6 class="title text-left text-mont">-->
<!--            <strong>Datos de Contacto</strong>-->
<!--          </h6>-->
<!--        </div>-->
<!--        <div id="name" class="mdl-grid">-->

<!--          <div class="mdl-cell mdl-cell--6-col  mdl-cell--12-col-phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label">-->
<!--            <input class="mdl-textfield__input" type="text" id="txtCodArea" pattern="-?[0-9]*(\.[0-9]+)?" name="txtCodArea">       -->
<!--            <label class="mdl-textfield__label" for="txtFono">Cód. de area</label>-->
<!--            <span class="mdl-textfield__error">Debe ingresar solo números</span>-->
<!--          </div>-->

<!--          <div class="mdl-cell mdl-cell--6-col  mdl-cell--12-col-phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label">-->
<!--            <input class="mdl-textfield__input" type="text" id="txtFono" pattern="-?[0-9]*(\.[0-9]+)?" name="txtFono">  -->
<!--            <label class="mdl-textfield__label" for="txtFono">Teléfono</label>-->
<!--            <span class="mdl-textfield__error">Debe ingresar solo números</span>-->
<!--          </div>-->

<!--          <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label">-->
<!--            <input class="mdl-textfield__input" type="text" id="txtEMail" name="txtEMail">-->
<!--            <label class="mdl-textfield__label" for="txtEMail">Email</label>-->
<!--          </div>-->

<!--          <div class="mdl-cell mdl-cell--6-col  mdl-cell--12-col-phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label">-->
<!--            <input class="mdl-textfield__input" type="text" id="txtComuna" name="txtComuna">-->
<!--            <label class="mdl-textfield__label" for="txtComuna">Comuna</label>-->
<!--          </div>-->
<!--        </div>-->


<!--        <div class="mdl-cell mdl-cell--12-col m-0auto pay-title">-->
<!--          <h6 class="title text-left text-mont">-->
<!--            <strong>Solicitud</strong>-->
<!--          </h6>-->
<!--        </div>-->

<!--        <div id="name" class="mdl-grid">-->
<!--          <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label">-->

            <!--<mat-form-field>-->
            <!--  <mat-label>Tipo Solicitud</mat-label>-->
            <!--  <mat-select [(value)]="selected">-->
            <!--    <mat-option *ngFor="let tipoSolicitud of tipoSolicitudes" [value]="tipoSolicitud.value">-->
            <!--      {{tipoSolicitud.viewValue}}-->
            <!--    </mat-option>-->
            <!--  </mat-select>-->
            <!--</mat-form-field>-->
            <!--<input class="mdl-textfield__input" type="text" id="radioCSR" name="radioCSR" value="{{ selected }}" hidden>-->
            
            <!--<select>-->
            <!--  <option value="C">Consulta</option>-->
            <!--  <option value="C">Sugerencia</option>-->
            <!--  <option value="C">Reclamo</option>-->
            <!--  <option value="C">Felicitación</option>-->
            <!--</select>-->
            




<!--          </div>-->

<!--          <div class="mdl-cell mdl-cell--12-col  mdl-cell--12-col-phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label">-->

<!--            <textarea class="mdl-textfield__input" type="text" rows="5" id="textareaMensaje" name="textareaMensaje"></textarea>-->
<!--            <label class="mdl-textfield__label" for="textareaMensaje">Requerimiento</label>-->
<!--          </div>-->

<!--          <div class="mdl-cell mdl-cell--12-col  mdl-cell--12-col-phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label">-->

<!--            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">-->
<!--              Enviar-->
<!--            </button>-->
<!--          </div>-->


<!--        </div>-->


<!--        <div id="name" class="mdl-grid">-->


<!--          <div class="mdl-cell mdl-cell--12-col  mdl-cell--12-col-phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label">-->

<!--            <div class="g-recaptcha" data-sitekey="6LeUaBoTAAAAAGm2QMhQC1ejwmcJt31FR04qv5c7"></div>-->



<!--          </div>-->




<!--        </div>-->
<!--        </form>-->

<!--      </div>-->




<!--    </div>-->

<!--  </div>-->


<!--</div>-->

<div class="mdl-grid">
  <div class="tgr-card_container mdl-cell mdl-cell--6-col m-lr-auto mdl-shadow--3dp">
    <div class="tgr-tabs_panel mdl-tabs__panel is-active">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <p>probando el formulario de contacto</p>
          
          <!--<mat-form-field>-->
          <!--  <mat-label>Tipo Solicitud</mat-label>-->
          <!--  <mat-select [(value)]="selected">-->
          <!--    <mat-option *ngFor="let tipoSolicitud of tipoSolicitudes" [value]="tipoSolicitud.value">-->
          <!--      {{tipoSolicitud.viewValue}}-->
          <!--    </mat-option>-->
          <!--  </mat-select>-->
          <!--</mat-form-field>-->
          
          <!--<input class="mdl-textfield__input" type="text" id="radioCSR" name="radioCSR" value="{{ selected }}" hidden>-->
        </div>
      </div>
    </div>
  </div>
</div>


<!--<router-outlet></router-outlet>-->