@import "../sugeridas.component";
.tgr-card__title--text{
  color: $color-primary
}
.material-icons {
  color: #5F5FC4;
  float: left;
  line-height: 1;
  margin-right: 4px;
  margin-top: -6px;
  margin-bottom: -6px;
}
